body {
  font-family: Montserrat, sans-serif;
}
.navbar-brand {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 48px;
  height: 48px;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #ffffff;
    font-weight: 600;
}
.nav-link {
 color: #ffffff;
}
.navbar-expand-lg {
  background-color: #007bff!important
}

.navbar-nav .nav-item:hover {
  background-color: #007bff!important
}
.navbar-expand-lg .navbar-nav .nav-link {
  color: #ffffff;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

.card {
  background-color: #FFF;
  box-shadow: 0 5px 18px 3px rgba(0, 0, 0, 0.1) !important;
}
.card-body .card-title {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  letter-spacing: 0.3px;
  font-size: 24px;
  color: #121212;
}

.card-text {
 font-family: 'Lato', sans-serif;
 font-weight: 400;
 font-size: 15px;
 letter-spacing: 0.3px;
 color: #4E4E4E;

}

.card:hover {
 box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1),
             0 10px 8px rgba(0, 0, 0, 0.015);
}
.card-body .card-title {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  letter-spacing: 0.3px;
  font-size: 24px;
  color: #121212;
}
.card .container {
  width: 88%;
  background: #F0EEF8;
  border-radius: 30px;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
}