<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>BBox</title>
    <link rel="shortcut icon" href="{% static 'intel_app/img/intel.ico' %}"/>
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'intel_app/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'intel_app/css/style.css' %}" rel="stylesheet"/>
    <link href="{% static 'intel_app/css/quill.snow.css' %}" rel="stylesheet">
    <link href="{% static 'intel_app/bootstrap-icons-1.11.1/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'intel_app/table/bootstrap-table.min.css' %}" rel="stylesheet">
    <link href="{% static 'intel_app/table/bootstrap-table.css' %}" rel="stylesheet">
    <style>
        div .aa { border-bottom : 1px solid #000; margin : 2px 0;}
                tr[data-non-edit="true"] {

                }
                tr[data-non-edit="false"] {
                    display : none;
                }
                tr[data-edit="true"] {

                }
                tr[data-edit="false"] {
                    display : none;
                }

                tr[data-add="false"] {
                    display : none;
                }
    </style>
<body style="background-color:#ffffff!important;">

<!-- Example Code -->
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand">
            <span>Intel</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-md-auto gap-2">
                <li class="nav-item rounded">
                    <a class="nav-link ho" href="{% url 'home' %}">
                        <i class="fa fa-home"></i>
                        <span>Home</span>
                    </a>
                </li>
                <li class="nav-item dropdown rounded">
                    <a class="nav-link ho dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-user"></i>
                        <span>{{request.user.username}}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>
<main>
    <!-- Service 4 - Bootstrap Brain Component -->
    <section>
        <div class="container" style="max-width:100%;">
            <div class="card">
                <div class="card-header">
                    <b>BBox</b>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary btn-sm add-btn"
                            style="float:right;">
                        BBox
                    </button>
                </div>
                <div class="card-body">
                    <form>
                        <table class="table table-bordered table-striped" id="example"
                               data-toggle="table"
                               data-search="true"
                               data-search-align="left"
                               data-show-columns="true"
                               data-show-toggle="false"
                               data-show-columns-toggle-all="true"
                               data-show-export="true"
                               data-export-data-type="all"
                               data-response-handler="responseHandler"
                               data-show-fullscreen="true"
                               data-buttons-class="primary btn-sm">
                            <thead>
                            <tr>
                                <th scope="col" nowrap data-field="category" class="w-50 p-3 category">&nbsp;&nbsp;&nbsp;</th>
                                <th scope="col" nowrap data-field="project" class="w-50 p-3 project">Project</th>
                                <th scope="col" nowrap data-field="process" class="w-50 p-3 process">Process</th>
                                <th scope="col" nowrap data-field="die_area" class="w-50 p-3 die_area">Die Area</th>
                                <th scope="col" nowrap data-field="config" class="w-50 p-3 config">Config</th>
                                <th scope="col" nowrap data-field="pv_freq" class="w-50 p-3 pv_freq">PV Freq</th>
                                <th scope="col" nowrap data-field="perf_target" class="w-50 p-3 perf_target">Perf Target</th>
                                <th scope="col" nowrap data-field="cdyn" class="w-50 p-3 cdyn">Cdyn</th>
                                <th scope="col" nowrap data-field="schedule_bbox" class="w-50 p-3 schedule_bbox">Schedule</th>
                                <th scope="col" nowrap data-field="action" class="w-50 p-3 action">Action</th>
                            </tr>
                            </thead>
                            <tbody data-body="bbox">
                            <tr data-a-id="new" data-add="false">
                                 <td class="category">
                                    <textarea class="form-control" data-prop="category" name="category" cols="10" rows="6" maxlength="250" disabled>Plan
                                    Actual
                                    Grading
                                    </textarea>
                                </td>
                                <td class="project">
                                    <select class="form-select" name="project" data-prop='project' required="required">
                                        <option value="" disabled="disabled" selected="selected">Projects</option>
                                        {% for i in project %}
                                        <option value="{{i}}">{{i}}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td class="process">
                                    <textarea class="form-control" data-prop="process" name="process" placeholder="Enter Process" cols="10" rows="6" maxlength="250" required="required"></textarea>
                                </td>
                                <td class="die_area">
                                    <textarea class="form-control" data-prop="die_area" name="die_area" placeholder="Enter Die Area" cols="10" rows="6" maxlength="250" required="required"></textarea>
                                </td>
                                <td class="config">
                                    <textarea class="form-control" data-prop="config" name="config" placeholder="Enter Config" cols="10" rows="6" maxlength="250" required="required"></textarea>
                                </td>
                                <td class="pv_freq">
                                    <textarea class="form-control" data-prop="pv_freq" name="pv_freq" placeholder="Enter PV Freq" cols="10" rows="6" maxlength="250" required="required"></textarea>
                                </td>
                                <td class="perf_target">
                                    <textarea class="form-control" data-prop="perf_target" name="perf_target" placeholder="Enter Perf Target" cols="10" rows="6" maxlength="250" required="required"></textarea>
                                </td>
                                <td class="cdyn">
                                    <textarea class="form-control" data-prop="cdyn" name="cdyn" placeholder="Enter Cdyn" cols="10" rows="6" maxlength="250" required="required"></textarea>
                                </td>
                                <td class="schedule_bbox">
                                    <textarea class="form-control" data-prop="schedule_bbox" name="schedule_bbox" placeholder="Enter Schedule" cols="10" rows="6" maxlength="250" required="required"></textarea>
                                </td>
                                <td class="text-center">
                                    <button data-id="new-save" type="submit" class="btn btn-success btn-sm add-save-btn" title="Save Metric">
                                        <i class="fa-solid fa-check"></i>
                                    </button>
                                    <button data-id="new-cancel" type="reset" class="btn btn-danger btn-sm add-cancel-btn" title="Edit Metric">
                                        <i class="fa-solid fa-xmark"></i>
                                    </button>
                                </td>
                            </tr>
                            {% for i in data %}
                            <tr data-n-id="{{ i.id }}" data-non-edit="true">
                                <td nowrap class="category">{{ i.category }}</td>
                                <td nowrap class="project">{{ i.project }}</td>
                                <td nowrap class="process">{{ i.process | linebreaks }}</td>
                                <td nowrap class="die_area">{{ i.die_area | linebreaks }}</td>
                                <td nowrap class="config">{{ i.config | linebreaks }}</td>
                                <td nowrap class="pv_freq">{{ i.pv_freq | linebreaks }}</td>
                                <td nowrap class="perf_target">{{ i.perf_target | linebreaks }}</td>
                                <td nowrap class="cdyn">{{ i.cdyn | linebreaks }}</td>
                                <td nowrap class="schedule_bbox">{{ i.schedule_bbox | linebreaks }}</td>
                                <td class="text-center">
                                    <button data-id="{{ i.id }}" type="button" class="btn btn-info btn-sm edit-btn" title="Edit Metric">
                                        <i class="fas fa-edit"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr data-e-id="{{ i.id }}" data-edit="false">
                                <td class="category">
                                    <textarea class="form-control" data-prop="category" name="category" cols="10" rows="6" maxlength="250" disabled>Plan
                                    Actual
                                    Grading
                                    </textarea>
                                </td>
                                <td class="project">
                                    <input class="form-control" type="text" name="project" data-prop="project" value="{{i.project}}" disabled />
                                </td>
                                <td class="process">
                                    <textarea class="form-control" data-prop="process" name="process" cols="10" rows="6" maxlength="250" required="required">{{ i.process }}</textarea>
                                </td>
                                <td class="die_area">
                                    <textarea class="form-control" data-prop="die_area" name="die_area" cols="10" rows="6" maxlength="250" required="required">{{ i.die_area }}</textarea>
                                </td>
                                <td class="config">
                                    <textarea class="form-control" data-prop="config" name="config" cols="10" rows="6" maxlength="250" required="required">{{ i.config }}</textarea>
                                </td>
                                <td class="pv_freq">
                                    <textarea class="form-control" data-prop="pv_freq" name="pv_freq" cols="10" rows="6" maxlength="250" required="required">{{ i.pv_freq }}</textarea>
                                </td>
                                <td class="perf_target">
                                    <textarea class="form-control" data-prop="perf_target" name="perf_target" cols="10" rows="6" maxlength="250" required="required">{{i.perf_target}}</textarea>
                                </td>
                                <td class="cdyn">
                                    <textarea class="form-control" data-prop="cdyn" name="cdyn" cols="10" rows="6" maxlength="250" required="required">{{ i.cdyn }}</textarea>
                                </td>
                                <td class="schedule_bbox">
                                    <textarea class="form-control" data-prop="schedule_bbox" name="schedule_bbox" cols="10" rows="6" maxlength="250" required="required">{{ i.schedule_bbox }}</textarea>
                                </td>
                                <div class="text-center">
                                    <td>
                                        <button data-id="{{ i.id }}" type="submit" class="btn btn-success btn-sm save-btn" title="Save Metric">
                                            <i class="fa-solid fa-check"></i>
                                        </button>
                                        <button data-id="{{ i.id }}" type="reset" class="btn btn-danger btn-sm cancel-btn" title="Cancel Metric">
                                            <i class="fa-solid fa-xmark"></i>
                                        </button>
                                    </td>
                                </div>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- Include the Quill library -->
<script src="{% static 'intel_app/js/jquery.min.js' %}"></script>
<script src="{% static 'intel_app/js/quill.js' %}"></script>
<script src="{% static 'intel_app/table/popper.min.js' %}"></script>
<script src="{% static 'intel_app/js/bootstrap.min.js' %}"></script>
<script src="{% static 'intel_app/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'intel_app/table/bootstrap-table.min.js' %}"></script>
<script src="{% static 'intel_app/table/bootstrap-table.js' %}"></script>
<script src="{% static 'intel_app/table/tableExport.min.js' %}"></script>
<script src="{% static 'intel_app/table/bootstrap-table-export.min.js' %}"></script>
<script>
    function nameFormatter(value, row) {
      var icon = row.status === 'R'  ? 'fa-circle fa-sm text-danger' :
      row.status === 'G'  ? 'fa-circle fa-sm text-success' :
      row.status === 'Y'  ? 'fa-circle fa-sm text-warning' :
      row.status === 'B'  ? 'fa-circle fa-sm text-primary' : 'none'
      return '<i class="fa ' + icon + '"></i> ' + value
    }
</script>
<script>
    $('#example').bootstrapTable({
        exportOptions: {
            fileName: 'BBox'
        },
        exportTypes: ['excel'],
    });

    $(document).ready(function() {
        $('.edit-btn').on('click', function() {
            let objectId = $(this).data('id');
            const non_Edit = $('tr[data-n-id="' + objectId + '"]').attr('data-non-edit');
            const edit = $('tr[data-e-id="' + objectId + '"]').attr('data-edit');
            $('tr[data-n-id="' + objectId + '"]').attr('data-non-edit', (non_Edit === 'true' ? false : true));
            $('tr[data-e-id="' + objectId + '"]').attr('data-edit', (edit === 'true' ? false : true));
        });

        $('.cancel-btn').on('click', function() {
            let objectId = $(this).data('id');
            const non_Edit = $('tr[data-n-id="' + objectId + '"]').attr('data-non-edit');
            const edit = $('tr[data-e-id="' + objectId + '"]').attr('data-edit');
            $('tr[data-n-id="' + objectId + '"]').attr('data-non-edit', (non_Edit === 'true' ? false : true));
            $('tr[data-e-id="' + objectId + '"]').attr('data-edit', (edit === 'true' ? false : true));
        });

        $('.save-btn').on('click', function() {
            let objectId = $(this).data('id');
            const bbox = {
                project: $('tr[data-e-id="' + objectId + '"] input[data-prop="project"]')[0].value,
                process: $('tr[data-e-id="' + objectId + '"] textarea[data-prop="process"]')[0].value,
                die_area: $('tr[data-e-id="' + objectId + '"] textarea[data-prop="die_area"]')[0].value,
                config: $('tr[data-e-id="' + objectId + '"] textarea[data-prop="config"]')[0].value,
                pv_freq: $('tr[data-e-id="' + objectId + '"] textarea[data-prop="pv_freq"]')[0].value,
                perf_target: $('tr[data-e-id="' + objectId + '"] textarea[data-prop="perf_target"]')[0].value,
                cdyn: $('tr[data-e-id="' + objectId + '"] textarea[data-prop="cdyn"]')[0].value,
                schedule_bbox: $('tr[data-e-id="' + objectId + '"] textarea[data-prop="schedule_bbox"]')[0].value,
            }
            $.ajax({
                type: "POST",
                url: "/bbox_edit/" + objectId,
                data: bbox,
                success: function(data) {
                    window.location.reload()
                }
            })
        });

        $('.add-btn').on('click', function() {
            $('tr[data-a-id="new"]').attr('data-add', true);
        });

        $('.add-save-btn').on('click', function() {
            let objectId = "new";
            const bbox = {
                project: $('tr[data-a-id="' + objectId + '"] select[data-prop="project"]')[0].value,
                process: $('tr[data-a-id="' + objectId + '"] textarea[data-prop="process"]')[0].value,
                die_area: $('tr[data-a-id="' + objectId + '"] textarea[data-prop="die_area"]')[0].value,
                config: $('tr[data-a-id="' + objectId + '"] textarea[data-prop="config"]')[0].value,
                pv_freq: $('tr[data-a-id="' + objectId + '"] textarea[data-prop="pv_freq"]')[0].value,
                perf_target: $('tr[data-a-id="' + objectId + '"] textarea[data-prop="perf_target"]')[0].value,
                cdyn: $('tr[data-a-id="' + objectId + '"] textarea[data-prop="cdyn"]')[0].value,
                schedule_bbox: $('tr[data-a-id="' + objectId + '"] textarea[data-prop="schedule_bbox"]')[0].value,
            }
            $.ajax({
                type: "POST",
                url: "/bbox/",
                data: bbox,
                success: function(data) {
                    window.location.reload()
                }
            })
            console.log(bbox);
        });

        $('.add-cancel-btn').click(function() {
            $('tr[data-a-id="new"]').attr('data-add', false);
        });
    });
</script>
</body>
</head>
</html>