<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Detaila</title>
    <link rel="shortcut icon" href="{% static 'intel_app/img/intel.ico' %}"/>
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'intel_app/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'intel_app/css/style.css' %}" rel="stylesheet"/>
    <link href="{% static 'intel_app/css/quill.snow.css' %}" rel="stylesheet">
    <link href="{% static 'intel_app/bootstrap-icons-1.11.1/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'intel_app/css/bootstrap-select.min.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'intel_app/css/sweetalert.css' %}">
    <link href="{% static 'intel_app/css/tail.select-default.min.css' %}" rel="stylesheet">
    <link href="{% static 'intel_app/css/bootstrap-toggle.min.css' %}" rel="stylesheet">

    <style>
        .ck-powered-by {
            display: none !important;
        }

        tr[data-non-edit="true"] {

        }
        tr[data-non-edit="false"] {
            display : none;
        }
        tr[data-edit="true"] {

        }
        tr[data-edit="false"] {
            display : none;
        }

        tr[data-add="false"] {
            display : none;
        }
    </style>
<body style="background-color:#ffffff!important;">

<!-- Example Code -->
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand">
            <span>Intel</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-md-auto gap-2">
                <form method="POST" action="{% url 'project_change' func_name='details' %}" id="projectForm">
                    {% csrf_token %}
                    <select name="projectdata" id='projectdata' onchange="this.form.submit();">
                        <option value="" disabled >Projects</option>
                        {% for i in project %}
                        <option value="{{i}}">{{i}}</option>
                        {% endfor %}
                    </select>
                    <p style="display:none;">{{error}}</p>
                </form>
                <li class="nav-item rounded">
                    <a class="nav-link ho" href="{% url 'home' %}">
                        <i class="fa fa-home"></i>
                        <span>Home</span>
                    </a>
                </li>
                <li class="nav-item dropdown rounded">
                    <a class="nav-link ho dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-user"></i>
                        <span>{{user}}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>
<main>
    <!-- Service 4 - Bootstrap Brain Component -->
    <section>
        <div class="container"><!--style="max-width:100%;"-->
            <div class="card">
                <div class="card-header">
                    <b>Details</b>
                </div>
                <div class="card-body">
                    <form method="post" id="detailsForm" autocomplete="off" action="{% url 'details' %}" enctype="application/x-www-form-urlencoded">
                    {% csrf_token %}
                    <div id="details_editor" style="height: 275px;">{{ details_data.message|safe }}</div>
                    <input type="hidden" name="details_message" id="details_message">
                    <p>{{error}}</p>
                    <button type="submit" id="btn_details" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-secondary" id="btn_cancel">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- Include the Quill library -->
<script src="{% static 'intel_app/js/jquery.min.js' %}"></script>
<script src="{% static 'intel_app/js/quill.js' %}"></script>
<script src="{% static 'intel_app/table/popper.min.js' %}"></script>
<script src="{% static 'intel_app/js/bootstrap.min.js' %}"></script>
<script src="{% static 'intel_app/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'intel_app/js/bootstrap-select.min.js' %}"></script>
<script src="{% static 'intel_app/js/sweetalert-dev.js' %}"></script>
<script src="{% static 'intel_app/js/tail.select-full.min.js' %}"></script>
<script src="{% static 'intel_app/js/bootstrap-toggle.min.js' %}"></script>
<script src="{% static 'intel_app/ckeditor.js' %}"></script>

<script>
    function nameFormatter(value, row) {
      var icon = row.severity === 'Low'  ? 'fa-circle fa-sm text-primary' :
      row.severity === 'Medium'  ? 'fa-circle fa-sm text-warning' :
      row.severity === 'High'  ? 'fa-circle fa-sm text-danger' : 'none'
      return '<i class="fa ' + icon + '"></i> ' + value
    }

</script>
<script>
    document.addEventListener('visibilitychange', function() {
        if (document.visibilityState === 'visible') {
            window.location.reload();
        }
    });
</script>
<script>
    tail.select("#projectdata", {
    animate: true,
    deselect: false,
    disabled: false,
    height: 350,
    multiple: false,
    placeholder: "Projects",
    search: false,
    width: 170
});
</script>
<script>
$(document).ready(function () {
    let originalContent = `{{ details_data.message|safe }}`;  // Store the original content

    ClassicEditor
        .create(document.querySelector('#details_editor'))
        .then(editor => {
            editor.setData(originalContent);
            window.detailsEditor = editor;
        })
        .catch(error => {
            console.error(error);
        });

    // Handle form submission
    $('#btn_details').on('click', (e) => {
        e.preventDefault(); // Prevent default form submission

        // Ensure the editor instance is available
        var editor = window.detailsEditor;
        if (editor) {
            // Get HTML content
            var html = editor.getData();

            // Copy HTML content to hidden input
            $('#details_message').val(html);

            // Submit the form
            $('#detailsForm').submit();
        } else {
            console.error('Editor instance is not available.');
        }
    });

    // Redirect to home when Cancel button is clicked
    $('#btn_cancel').on('click', function () {
        var editor = window.detailsEditor;
        if (editor) {
            editor.setData(originalContent); // Revert to original content
        }
        window.location.href = '{% url 'home' %}';  // Change 'home' to your actual home page URL name
    });
});
</script>

</body>
</html>
