<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'intel_app/fontawesome-free-6.4.2/css/all.min.css' %}"/>
    <link href="{% static 'intel_app/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'intel_app/css/style.css' %}" rel="stylesheet" />
    <script src="{% static 'intel_app/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'intel_app/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'intel_app/js/jquery.min.js' %}"></script>
</head>
<body>

<!-- Example Code -->
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTbsx6eVmj_rIHrIq47k3uB1CgVnkQD5mjgay2vUnsvIzqnNYm6yMW6HAGh8nR9mOvFgBA&usqp=CAU" style="width:40px;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-md-auto gap-2">
                <li class="nav-item dropdown rounded">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-user"></i>
                        <span>{{request.user.username}}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>
<main>
    <!-- Service 4 - Bootstrap Brain Component -->
    <section>
        <div class="container"><!--style="max-width:100%;"-->
            <div class="alert alert-primary" role="alert">
                A simple primary alert—check it out!
            </div>
        </div>
        <br>
        <div class="container"><!--style="max-width:100%;"-->
            <form class="form-inline" style="width:250px;float:right;">
                <input class="form-control mr-sm-2" id="filter" type="search" placeholder="Search" aria-label="Search"
                       autocomplete="off">
            </form>
            <h4>Application Gallery</h4>
            <br>

            <div id="mycard" class="row py-2">
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 mx-auto py-2">
                    <div class="card border-0 border-bottom shadow-sm">
                        <div class="card-body text-center p-4 p-xxl-5">
                            <i class="fa-solid fa-ruler fa-2xl text-warning mb-4"></i><br><br>
                            <h5 class="mb-4">Key Message</h5>
                            <p class="mb-4 text-secondary">Vestibulum bibendum, lorem a blandit lacinia, nisi velit
                                posuere nisl, vel placerat magna mauris mollis maximus est.</p>
                            <a class="btn btn-sm btn-warning" href="#" role="button">Open</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 mx-auto py-2">
                    <div class="card border-0 border-bottom shadow-sm">
                        <div class="card-body text-center p-4 p-xxl-5">
                            <i class="fa-solid fa-desktop fa-2xl text-secondary mb-4"></i><br><br>
                            <h5 class="mb-4">Schedule - MSPO</h5>
                            <p class="mb-4 text-secondary">Vestibulum bibendum, lorem a blandit lacinia, nisi velit
                                posuere nisl, vel placerat magna mauris mollis maximus est.</p>
                            <a class="btn btn-sm btn-secondary" href="#" role="button">Open</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 mx-auto py-2">
                    <div class="card border-0 border-bottom shadow-sm">
                        <div class="card-body text-center p-4 p-xxl-5">
                            <i class="fa-solid fa-file fa-2xl text-info mb-4"></i><br><br>
                            <h5 class="mb-4">Risks</h5>
                            <p class="mb-4 text-secondary">Vestibulum bibendum, lorem a blandit lacinia, nisi velit
                                posuere nisl, vel placerat magna mauris mollis maximus est.</p>
                            <a class="btn btn-sm btn-info" href="#" role="button">Open</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 mx-auto py-2">
                    <div class="card border-0 border-bottom shadow-sm">
                        <div class="card-body text-center p-4 p-xxl-5">
                            <i class="fa-solid fa-mouse fa-2xl text-danger mb-4"></i><br><br>
                            <h5 class="mb-4">Opens</h5>
                            <p class="mb-4 text-secondary">Vestibulum bibendum, lorem a blandit lacinia, nisi velit
                                posuere nisl, vel placerat magna mauris mollis maximus est.</p>
                            <a class="btn btn-sm btn-danger" href="#" role="button">Open</a>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 mx-auto py-2">
                    <div class="card border-0 border-bottom shadow-sm">
                        <div class="card-body text-center p-4 p-xxl-5">
                            <i class="fa-solid fa-film fa-2xl text-success mb-4"></i><br><br>
                            <h5 class="mb-4">Links</h5>
                            <p class="mb-4 text-success">Vestibulum bibendum, lorem a blandiht lacinia, nisi velit
                                posuere nisl, vel placerat magna mauris mollis maximus est.</p>
                            <a class="btn btn-sm btn-success" href="#" role="button">Open</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 mx-auto py-2">
                    <div class="card border-0 border-bottom shadow-sm">
                        <div class="card-body text-center p-4 p-xxl-5">
                            <i class="fa-solid fa-layer-group fa-2xl text-primary mb-4"></i><br><br>
                            <h5 class="mb-4">BBox</h5>
                            <p class="mb-4 text-secondary">Vestibulum bibendum, lorem a blandit lacinia, nisi velit
                                posuere nisl, vel placerat magna mauris mollis maximus est.</p>
                            <a class="btn btn-sm btn-primary" href="#" role="button">Open</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 mx-auto py-2">
                    <div class="card border-0 border-bottom shadow-sm">
                        <div class="card-body text-center p-4 p-xxl-5">
                            <i class="fa-solid fa-database fa-2xl text-dark mb-4"></i><br><br>
                            <h5 class="mb-4">Details</h5>
                            <p class="mb-4 text-secondary">Vestibulum bibendum, lorem a blandit lacinia, nisi velit
                                posuere nisl, vel placerat magna mauris mollis maximus est.</p>
                            <a class="btn btn-sm btn-dark" href="#" role="button">Open</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<br><br>
<script>
    $("#filter").on("keyup", function() {
   var value = $(this).val().toLowerCase();
   $("#mycard > div").filter(function() {
     $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
   });
 });
</script>

<!-- End Example Code -->
</body>
</html>