<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <link rel="shortcut icon" href="{% static 'intel_app/img/intel.ico' %}"/>
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'intel_app/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'intel_app/css/quill.snow.css' %}" rel="stylesheet">
    <link href="{% static 'intel_app/css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'intel_app/css/tail.select-default.min.css' %}" rel="stylesheet">
    <style>
        .btn-purple {
            background-color: #6f42c1;
            color: #ffffff;
            border-color: #6f42c1;
        }
        .btn-purple:hover, .btn-purple:focus, .btn-purple:active, .btn-purple.active, .open>.dropdown-toggle.btn-purple {
            background-color: #6f42c1;
            color: #ffffff;
            border-color: #6f42c1;
        }
        .text-purple {
            color:  #6f42c1;
        }
        .btn {
          transition: all 0.4s;
        }
        .btn span {
          display: inline-block;
          position: relative;
          transition: 0.4s;
        }
        .btn span:after {
          content: "\00bb";
          position: absolute;
          opacity: 0;
          top: 0;
          right: -1.375rem;
          transition: 0.4s;
        }
        .btn:hover span {
          padding-right: 2rem;
        }
        .btn:hover span:after {
          opacity: 1;
          right: 0;
        }
        .form-select {
            width: auto;
        }
    </style>
</head>
<body>

<!-- Example Code -->
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand">
            <span>Intel</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-md-auto gap-2">
                <form method="POST" action="{% url 'project_change' func_name='home' %}" id="projectForm">
                    {% csrf_token %}
                    <select name="projectdata" id='projectdata' onchange="updateProjectCookie(this.value); this.form.submit();">
                        <option value="" disabled >Projects</option>
                        {% for i in project %}
                        <option value="{{i}}">{{i}}</option>
                        {% endfor %}
                    </select>
                    <p style="display:none;">{{error}}</p>
                </form>
                <li class="nav-item rounded">
                    <a class="nav-link ho" href="{% url 'home' %}">
                        <i class="fa fa-home"></i>
                        <span>Home</span>
                    </a>
                </li>
                <li class="nav-item dropdown rounded">
                    <a class="nav-link ho dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-user"></i>
                        <span>{{user}}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>
<main>
    <!-- Service 4 - Bootstrap Brain Component -->
    <section>
        <div class="container" style="width:100%;">
            <div class="alert alert-light alert-dismissible fade show d-flex align-items-center justify-content-between" role="alert" style="gap: 10px;">
                <!-- Left Section: Welcome Message and Link -->
                <div class="d-flex align-items-center" style="gap: 5px;">
                    <strong>Welcome! {{user}}</strong>
                    <a href="https://google.com" target="_blank">Readme.md</a>
                </div>

                <!-- Right Section: Dropdowns -->
                <div class="dropdown-group d-flex gap-2" style="display: flex; align-items: center; gap: 10px;">
                    <div style="display: flex; align-items: center; gap: 5px;">
                        <label for="Schedule">Schedule:</label>
                        <select id="Schedule" class="form-select" aria-label="Dropdown 1" onchange="sendDropdownValue('Schedule')">
                             {% for i in schedule_dropdown %}
                                <option value="{{i}}">{{i}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div style="display: flex; align-items: center; gap: 5px;">
                        <label for="BBOX">BBox:</label>
                        <select id="BBOX" class="form-select" aria-label="Dropdown 2" onchange="sendDropdownValue('BBOX')">
                            {% for i in bbox_dropdown %}
                                <option value="{{i}}">{{i}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div style="display: flex; align-items: center; gap: 5px;">
                        <label for="Quantity">Quantity:</label>
                        <select id="Quantity" class="form-select" aria-label="Dropdown 3" onchange="sendDropdownValue('Quantity')">
                            {% for i in quantity_dropdown %}
                                <option value="{{i}}">{{i}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="container"><!--style="max-width:100%;"-->
            <form class="form-inline" style="width:250px;float:right;">
                <input class="form-control mr-sm-2" id="filter" type="search" placeholder="Search" aria-label="Search"
                       autocomplete="off">
            </form>
            <h4>GHI Project Dashboard Edit Portal</h4>
            <br>

            <div id="mycard" class="row py-2">
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 mx-auto py-2">
                    <div class="card2 shadow-sm">
                        <div class="card-body text-center p-4 p-xxl-5">
                            <i class="fa-solid fa-key fa-2xl text-warning mb-4"></i><br><br>
                            <h5 class="mb-4">Key Message</h5>
                            <p class="mb-4 text-secondary">Vestibulum bibendum, lorem a blandit lacinia, nisi velit
                                posuere nisl, vel placerat magna mauris mollis maximus est.</p>
<!--                            <a class="btn btn-md btn-warning button arrow" data-bs-toggle="modal" data-bs-target="#keymessageModal" role="button">-->
                            <a class="btn btn-md btn-warning button arrow" href="{% url 'key_message' %}" role="button">
                                <span>Update</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 mx-auto py-2">
                    <div class="card2 shadow-sm">
                        <div class="card-body text-center p-4 p-xxl-5">
                            <i class="fa-solid fa-calendar-days fa-2xl text-secondary mb-4"></i><br><br>
                            <h5 class="mb-4">Schedule</h5>
                            <p class="mb-4 text-secondary">Vestibulum bibendum, lorem a blandit lacinia, nisi velit
                                posuere nisl, vel placerat magna mauris mollis maximus est.</p>
                            <a class="btn btn-md btn-secondary button arrow" href="{% url 'schedule' %}" role="button">
                                <span>Update</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 mx-auto py-2">
                    <div class="card2 shadow-sm">
                        <div class="card-body text-center p-4 p-xxl-5">
                            <i class="fa-solid fa-file fa-2xl text-info mb-4"></i><br><br>
                            <h5 class="mb-4">Risks</h5>
                            <p class="mb-4 text-secondary">Vestibulum bibendum, lorem a blandit lacinia, nisi velit
                                posuere nisl, vel placerat magna mauris mollis maximus est.</p>
                            <a class="btn btn-md btn-info button arrow" href="{% url 'risk' %}" role="button">
                                <span>Update</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 mx-auto py-2">
                    <div class="card2 shadow-sm">
                        <div class="card-body text-center p-4 p-xxl-5">
                            <i class="fa-solid fa-plus fa-2xl text-danger mb-4"></i><br><br>
                            <h5 class="mb-4">Key Program Metrics</h5>
                            <p class="mb-4 text-secondary">Vestibulum bibendum, lorem a blandit lacinia, nisi velit
                                posuere nisl, vel placerat magna mauris mollis maximus est.</p>
                            <a class="btn btn-md btn-danger button arrow" href="{% url 'key_program' %}" role="button">
                                <span>Update</span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 mx-auto py-2">
                    <div class="card2 shadow-sm">
                        <div class="card-body text-center p-4 p-xxl-5">
                            <i class="fa-solid fa-link fa-2xl text-success mb-4"></i><br><br>
                            <h5 class="mb-4">Links</h5>
                            <p class="mb-4 text-secondary">Vestibulum bibendum, lorem a blandiht lacinia, nisi velit
                                posuere nisl, vel placerat magna mauris mollis maximus est.</p>
                            <a class="btn btn-md btn-success button arrow" href="{% url 'links' %}" role="button">
                                <span>Update</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 mx-auto py-2">
                    <div class="card2 shadow-sm">
                        <div class="card-body text-center p-4 p-xxl-5">
                            <i class="fa-solid fa-box-open fa-2xl text-primary mb-4"></i><br><br>
                            <h5 class="mb-4">BBox</h5>
                            <p class="mb-4 text-secondary">Vestibulum bibendum, lorem a blandit lacinia, nisi velit
                                posuere nisl, vel placerat magna mauris mollis maximus est.</p>
                            <a class="btn btn-md btn-primary button arrow" href="{% url 'bbox' %}" role="button">
                                <span>Update</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 mx-auto py-2">
                    <div class="card2 shadow-sm">
                        <div class="card-body text-center p-4 p-xxl-5">
                            <i class="fa-solid fa-circle-info fa-2xl text-dark mb-4"></i><br><br>
                            <h5 class="mb-4">Details</h5>
                            <p class="mb-4 text-secondary">Vestibulum bibendum, lorem a blandit lacinia, nisi velit
                                posuere nisl, vel placerat magna mauris mollis maximus est.</p>
                            <!--<a class="btn btn-md btn-dark button arrow" data-bs-toggle="modal" data-bs-target="#detailsModal" role="button">-->
                            <a class="btn btn-md btn-dark button arrow" href="{% url 'details' %}" role="button">
                                <span>Update</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 mx-auto py-2">
                    <div class="card2 shadow-sm">
                        <div class="card-body text-center p-4 p-xxl-5">
                            <i class="fa-solid fa-bug fa-2xl text-purple mb-4"></i><br><br>
                            <h5 class="mb-4">Issues</h5>
                            <p class="mb-4 text-secondary">Vestibulum bibendum, lorem a blandiht lacinia, nisi velit
                                posuere nisl, vel placerat magna mauris mollis maximus est.</p>
                            <a class="btn btn-md btn-purple button arrow" href="{% url 'issues' %}" role="button">
                                <span>Update</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<script src="{% static 'intel_app/js/bootstrap.min.js' %}"></script>
<script src="{% static 'intel_app/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'intel_app/js/jquery.min.js' %}"></script>
<script src="{% static 'intel_app/js/tail.select-full.min.js' %}"></script>
<script src="{% static 'intel_app/ckeditor.js' %}"></script>
<script>
    function sendDropdownValue(dropdownId) {
        const dropdownValue = document.getElementById(dropdownId).value;

        if (dropdownValue) {
            $.ajax({
                url: "{% url 'ajax_handler' %}", // Update with your Django URL pattern
                type: "POST",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    dropdown: dropdownId,
                    value: dropdownValue
                },
                success: function(response) {
                   window.location.reload();
                },
                error: function(error) {
                    alert("Error submitting value: " + error.responseText);
                }
            });
        }
    }
</script>

<script>
    $("#filter").on("keyup", function() {
       var value = $(this).val().toLowerCase();
       $("#mycard > div").filter(function() {
         $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
       });
    });
</script>
<script>
    // Delete projectData cookie after loading
    function updateProjectCookie(project) {
        // Set the cookie with the project data
        document.cookie = `projectData=${project}; path=/; SameSite=Lax; expires=Fri, 31 Dec 9999 23:59:59 GMT;`;
    }
</script>
<script>
    tail.select("#projectdata", {
    animate: true,
    deselect: false,
    disabled: false,
    height: 350,
    multiple: false,
    placeholder: "Projects",
    search: false,
    width: 170
});
</script>

</body>
</html>
