<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <link rel="shortcut icon" href="{% static 'intel_app/img/intel.ico' %}"/>
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'intel_app/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'intel_app/css/style.css' %}" rel="stylesheet" />
    <script src="{% static 'intel_app/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'intel_app/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'intel_app/js/jquery.min.js' %}"></script>
<style>
.btn {
  transition: all 0.4s;
}

.btn span {
  display: inline-block;
  position: relative;
  transition: 0.4s;
}

.btn span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -1.375rem;
  transition: 0.4s;
}

.btn:hover span {
  padding-right: 2rem;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}
</style>
</head>
<body>

<!-- Example Code -->
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand">
            <span>Intel</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-md-auto gap-2">
                <li class="nav-item rounded">
                    <a class="nav-link ho" href="{% url 'home' %}">
                    <i class="fa fa-home"></i>
                        <span>Home</span>
                    </a>
                </li>
                <li class="nav-item dropdown rounded">
                    <a class="nav-link ho dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-user"></i>
                        <span>{{request.user.username}}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>
<main>
    <!-- Service 4 - Bootstrap Brain Component -->
    <section>
        <div class="container"><!--style="max-width:100%;"-->
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Welcome!</strong> A simple primary alert—check it out!
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
        <br>
        <div class="container"><!--style="max-width:100%;"-->
            <form class="form-inline" style="width:250px;float:right;">
                <input class="form-control mr-sm-2" id="filter" type="search" placeholder="Search" aria-label="Search"
                       autocomplete="off">
            </form>
            <h4>Application Gallery</h4>
            <br>

            <div id="mycard" class="row py-2">
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 mx-auto py-2">
                    <div class="card2 shadow-sm">
                        <div class="card-body text-center p-4 p-xxl-5">
                            <i class="fa-solid fa-key fa-2xl text-warning mb-4"></i><br><br>
                            <h5 class="mb-4">Key Message</h5>
                            <p class="mb-4 text-secondary">Vestibulum bibendum, lorem a blandit lacinia, nisi velit
                                posuere nisl, vel placerat magna mauris mollis maximus est.</p>
                            <a class="btn btn-md btn-warning button arrow" href="{% url 'key_message' %}" role="button">
                                <span>Add</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 mx-auto py-2">
                    <div class="card2 shadow-sm">
                        <div class="card-body text-center p-4 p-xxl-5">
                            <i class="fa-solid fa-calendar-days fa-2xl text-secondary mb-4"></i><br><br>
                            <h5 class="mb-4">Schedule - MSPO</h5>
                            <p class="mb-4 text-secondary">Vestibulum bibendum, lorem a blandit lacinia, nisi velit
                                posuere nisl, vel placerat magna mauris mollis maximus est.</p>
                            <a class="btn btn-md btn-secondary button arrow" href="#" role="button">
                                <span>Add</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 mx-auto py-2">
                    <div class="card2 shadow-sm">
                        <div class="card-body text-center p-4 p-xxl-5">
                            <i class="fa-solid fa-file fa-2xl text-info mb-4"></i><br><br>
                            <h5 class="mb-4">Risks</h5>
                            <p class="mb-4 text-secondary">Vestibulum bibendum, lorem a blandit lacinia, nisi velit
                                posuere nisl, vel placerat magna mauris mollis maximus est.</p>
                            <a class="btn btn-md btn-info button arrow" href="{% url 'risk' %}" role="button">
                                <span>Add</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 mx-auto py-2">
                    <div class="card2 shadow-sm">
                        <div class="card-body text-center p-4 p-xxl-5">
                            <i class="fa-solid fa-plus fa-2xl text-danger mb-4"></i><br><br>
                            <h5 class="mb-4">Adds</h5>
                            <p class="mb-4 text-secondary">Vestibulum bibendum, lorem a blandit lacinia, nisi velit
                                posuere nisl, vel placerat magna mauris mollis maximus est.</p>
                            <a class="btn btn-md btn-danger button arrow" href="#" role="button">
                                <span>Add</span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 mx-auto py-2">
                    <div class="card2 shadow-sm">
                        <div class="card-body text-center p-4 p-xxl-5">
                            <i class="fa-solid fa-link fa-2xl text-success mb-4"></i><br><br>
                            <h5 class="mb-4">Links</h5>
                            <p class="mb-4 text-secondary">Vestibulum bibendum, lorem a blandiht lacinia, nisi velit
                                posuere nisl, vel placerat magna mauris mollis maximus est.</p>
                            <a class="btn btn-md btn-success button arrow" href="#" role="button">
                                <span>Add</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 mx-auto py-2">
                    <div class="card2 shadow-sm">
                        <div class="card-body text-center p-4 p-xxl-5">
                            <i class="fa-solid fa-box-open fa-2xl text-primary mb-4"></i><br><br>
                            <h5 class="mb-4">BBox</h5>
                            <p class="mb-4 text-secondary">Vestibulum bibendum, lorem a blandit lacinia, nisi velit
                                posuere nisl, vel placerat magna mauris mollis maximus est.</p>
                            <a class="btn btn-md btn-primary button arrow" href="#" role="button">
                                <span>Add</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 mx-auto py-2">
                    <div class="card2 shadow-sm">
                        <div class="card-body text-center p-4 p-xxl-5">
                            <i class="fa-solid fa-circle-info fa-2xl text-dark mb-4"></i><br><br>
                            <h5 class="mb-4">Details</h5>
                            <p class="mb-4 text-secondary">Vestibulum bibendum, lorem a blandit lacinia, nisi velit
                                posuere nisl, vel placerat magna mauris mollis maximus est.</p>
                            <a class="btn btn-md btn-dark button arrow" href="#" role="button">
                                <span>Add</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<br><br>
<script>
    $("#filter").on("keyup", function() {
   var value = $(this).val().toLowerCase();
   $("#mycard > div").filter(function() {
     $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
   });
 });
</script>

<!-- End Example Code -->
</body>
</html>