<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Issues</title>
    <link rel="shortcut icon" href="{% static 'intel_app/img/intel.ico' %}"/>
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'intel_app/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'intel_app/css/style.css' %}" rel="stylesheet"/>
    <link href="{% static 'intel_app/css/quill.snow.css' %}" rel="stylesheet">
    <link href="{% static 'intel_app/bootstrap-icons-1.11.1/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'intel_app/table/bootstrap-table.min.css' %}" rel="stylesheet">
    <link href="{% static 'intel_app/table/bootstrap-table.css' %}" rel="stylesheet">
    <link href="{% static 'intel_app/css/bootstrap-toggle.min.css' %}" rel="stylesheet">
    <link href="{% static 'intel_app/css/bootstrap-select.min.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'intel_app/css/sweetalert.css' %}">
    <link href="{% static 'intel_app/css/tail.select-default.min.css' %}" rel="stylesheet">

    <style>
        tr[data-non-edit="true"] {

        }
        tr[data-non-edit="false"] {
            display : none;
        }
        tr[data-edit="true"] {

        }
        tr[data-edit="false"] {
            display : none;
        }

        tr[data-add="false"] {
            display : none;
        }
    </style>
<body style="background-color:#ffffff!important;">

<!-- Example Code -->
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand">
            <span>Intel</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-md-auto gap-2">
                <form method="POST" action="{% url 'project_change' func_name='issues' %}" id="projectForm">
                    {% csrf_token %}
                    <select name="projectdata" id='projectdata' onchange="this.form.submit();">
                        <option value="" disabled >Projects</option>
                        {% for i in project %}
                        <option value="{{i}}">{{i}}</option>
                        {% endfor %}
                    </select>
                    <p style="display:none;">{{error}}</p>
                </form>
                <li class="nav-item rounded">
                    <a class="nav-link ho" href="{% url 'home' %}">
                        <i class="fa fa-home"></i>
                        <span>Home</span>
                    </a>
                </li>
                <li class="nav-item dropdown rounded">
                    <a class="nav-link ho dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-user"></i>
                        <span>{{user}}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>
<main>
    <!-- Service 4 - Bootstrap Brain Component -->
    <section>
        <div class="container"><!--style="max-width:100%;"-->
            <div class="card">
                <div class="card-header">
                    <b>Issues</b>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary btn-sm add-btn"
                            style="float:right;">
                        Add Issues
                    </button>
                </div>
                <div class="card-body">
                    <form>
                        <table class="table table-bordered table-striped" id="example"
                               data-toggle="table"
                               data-search="true"
                               data-search-align="left"
                               data-show-columns="true"
                               data-show-toggle="false"
                               data-show-columns-toggle-all="true"
                               data-show-export="true"
                               data-export-data-type="all"
                               data-response-handler="responseHandler"
                               data-show-fullscreen="true"
                               data-buttons-class="primary btn-sm">
                            <thead>
                            <tr>
                                <th scope="col" nowrap data-field="issues_summary" class="w-50 p-3 issues_summary">Issues Summary</th>
                                <th scope="col" nowrap data-field="status" class="w-50 p-3 status">Status</th>
                                <th scope="col" nowrap data-field="owner" class="w-50 p-3 owner">Owner</th>
                                <th scope="col" nowrap data-field="eta" class="w-50 p-3 eta">Next Steps with ETA &nbsp;&nbsp;&nbsp;</th>
                                <th scope="col" nowrap data-field="trigger_date" class="w-50 p-3 trigger_date">Trigger Date</th>
                                <th scope="col" nowrap data-field="issues_initiated" class="w-50 p-3 issues_initiated">Issues Initiated</th>
                                <th scope="col" nowrap data-field="severity" class="w-50 p-3 severity" data-formatter="nameFormatter">Severity</th>
                                <th scope="col" nowrap data-field="action" class="w-50 p-3 action">Action</th>
                            </tr>
                            </thead>
                            <tbody data-body="issues">
                            <tr data-a-id="new" data-add="false">
                                <td class="issues_summary">
                                    <textarea class="form-control" data-prop="issues_summary" name="issues_summary" placeholder="Enter Issues Summary" title="What’s the problem statement?" cols="3" maxlength="250" required="required"></textarea>
                                </td>
                                <td class="status">
                                    <select class="form-select" data-prop="status" name="status" required="required">
                                        <option value="" disabled="disabled" selected="selected">Select Status</option>
                                        <option value="Open">Open</option>
                                        <option value="Closed">Closed</option>
                                    </select>
                                </td>
                                <td class="owner">
                                    <input class="form-control" data-prop="owner" name="owner" type="text"
                                           placeholder="Enter Owner" title="IDSID of owner" required="required" />
                                </td>
                                <td class="eta">
                                    <input class="form-control" data-prop="eta" name="eta" type="date"
                                           placeholder="Enter ETA" title="What’s being done to resolve the issue? Should have ETA for each step" required="required" />
                                </td>
                                <td class="trigger_date">
                                    <input class="form-control" data-prop="trigger_date" name="trigger_date" type="date"
                                           placeholder="Enter Trigger Date" title="By when does the issue need to be resolved?" required="required" />
                                </td>
                                <td class="issues_initiated">
                                    <input class="form-control" data-prop="issues_initiated" name="issues_initiated" type="date"
                                           placeholder="Enter Issues Initiated" title="When did the issue first come to light and start to get tracked?" required="required" />
                                </td>
                                <td class="severity">
                                    <select class="form-select" data-prop="severity" name="severity"
                                            title="•Low – well under control, path to closure exists.
•Medium – viable path to resolution is available and being pursued.
•High – no path to resolution available or resolution path is complex. Urgent help required"
                                            required="required">
                                        <option value="" disabled="disabled" selected="selected">Select Severity</option>
                                        <option value="High">High</option>
                                        <option value="Medium">Medium</option>
                                        <option value="Low">Low</option>
                                    </select>
                                </td>
                                <td class="text-center">
                                    <button data-id="new-save" type="button" class="btn btn-success btn-sm add-save-btn" title="Save Issues">
                                        <i class="fa-solid fa-check"></i>
                                    </button>
                                    <button data-id="new-cancel" type="reset" class="btn btn-danger btn-sm add-cancel-btn" title="Edit Issues">
                                        <i class="fa-solid fa-xmark"></i>
                                    </button>
                                </td>
                            </tr>
                            {% for i in data %}
                            <tr data-n-id="{{ i.issues_id }}" data-non-edit="true">
                                <td nowrap class="issues_summary">{{ i.issues_summary }}</td>
                                <td nowrap class="status">{{ i.status.0 }}</td>
                                <td nowrap class="owner">{{ i.owner }}</td>
                                <td nowrap class="eta">{{ i.eta | date:'Y-m-d' }}</td>
                                <td nowrap class="trigger_date">{{ i.trigger_date | date:'Y-m-d' }}</td>
                                <td nowrap class="issues_initiated">{{ i.issues_initiated | date:'Y-m-d' }}</td>
                                <td nowrap class="severity">{{ i.severity.0 }}</td>
                                <td nowrap class="action">
                                    <button data-id="{{ i.issues_id }}" type="button" class="btn btn-info btn-sm edit-btn"
                                            title="Edit Issues"><i
                                            class="fas fa-edit"></i></button>
                                </td>
                            </tr>
                            <tr data-e-id="{{ i.issues_id }}" data-edit="false">
                                <td class="issues_summary">
                                    <textarea class="form-control" data-prop="issues_summary" name="issues_summary" cols="3" maxlength="250" required="required">{{i.issues_summary}}</textarea>
                                </td>
                                <td class="status">
                                    <select class="form-select" data-prop="status" name="status" required="required">
                                        {% for i in i.status %}
                                        <option value="{{i}}">{{i}}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td class="owner">
                                    <input class="form-control" data-prop="owner" id="owner" name="owner" type="text"
                                           required="required" value="{{i.owner}}" />
                                </td>
                                <td class="eta">
                                    <input class="form-control" data-prop="eta" id="eta" name="eta" type="date"
                                           required="required" value="{{ i.eta | date:'Y-m-d' }}" />
                                </td>

                                <td class="trigger_date">
                                    <input class="form-control" data-prop="trigger_date" id="trigger_date" name="trigger_date" type="date"
                                           required="required" value="{{ i.trigger_date | date:'Y-m-d' }}" />
                                </td>
                                <td class="issues_initiated">
                                    <input class="form-control" data-prop="issues_initiated" id="issues_initiated" name="issues_initiated" type="date"
                                           required="required" value="{{ i.issues_initiated | date:'Y-m-d' }}" />
                                </td>
                                <td class="severity">
                                    <select class="form-select" data-prop="severity" name="severity" required="required">
                                        {% for j in i.severity %}
                                        <option value="{{j}}">{{j}}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <div>
                                    <td>
                                        <button data-id="{{ i.issues_id }}" type="submit" class="btn btn-success btn-sm save-btn" title="Save Issues">
                                            <i class="fa-solid fa-check"></i>
                                        </button>
                                        <button data-id="{{ i.issues_id }}" type="reset" class="btn btn-danger btn-sm cancel-btn" title="Cancel Issues">
                                            <i class="fa-solid fa-xmark"></i>
                                        </button>
                                    </td>
                                </div>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- Include the Quill library -->
<script src="{% static 'intel_app/js/jquery.min.js' %}"></script>
<script src="{% static 'intel_app/js/quill.js' %}"></script>
<script src="{% static 'intel_app/table/popper.min.js' %}"></script>
<script src="{% static 'intel_app/js/bootstrap.min.js' %}"></script>
<script src="{% static 'intel_app/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'intel_app/table/bootstrap-table.min.js' %}"></script>
<script src="{% static 'intel_app/table/bootstrap-table.js' %}"></script>
<script src="{% static 'intel_app/table/tableExport.min.js' %}"></script>
<script src="{% static 'intel_app/table/bootstrap-table-export.min.js' %}"></script>
<script src="{% static 'intel_app/js/bootstrap-toggle.min.js' %}"></script>
<script src="{% static 'intel_app/js/bootstrap-select.min.js' %}"></script>
<script src="{% static 'intel_app/js/sweetalert-dev.js' %}"></script>
<script src="{% static 'intel_app/js/tail.select-full.min.js' %}"></script>

<script>
    function nameFormatter(value, row) {
      var icon = row.severity === 'Low'  ? 'fa-circle fa-sm text-primary' :
      row.severity === 'Medium'  ? 'fa-circle fa-sm text-warning' :
      row.severity === 'High'  ? 'fa-circle fa-sm text-danger' : 'none'
      return '<i class="fa ' + icon + '"></i> ' + value
    }

</script>
<script>
    $('#example').bootstrapTable({
        exportOptions: {
            fileName: 'Issues'
        },
        exportTypes: ['excel'],
    });

    $(document).ready(function() {
        $('.edit-btn').on('click', function() {
            let objectId = $(this).data('id');
            const non_Edit = $('tr[data-n-id="' + objectId + '"]').attr('data-non-edit');
            const edit = $('tr[data-e-id="' + objectId + '"]').attr('data-edit');
            $('tr[data-n-id="' + objectId + '"]').attr('data-non-edit', (non_Edit === 'true' ? false : true));
            $('tr[data-e-id="' + objectId + '"]').attr('data-edit', (edit === 'true' ? false : true));
        });

        $('.cancel-btn').on('click', function() {
            let objectId = $(this).data('id');
            const non_Edit = $('tr[data-n-id="' + objectId + '"]').attr('data-non-edit');
            const edit = $('tr[data-e-id="' + objectId + '"]').attr('data-edit');
            $('tr[data-n-id="' + objectId + '"]').attr('data-non-edit', (non_Edit === 'true' ? false : true));
            $('tr[data-e-id="' + objectId + '"]').attr('data-edit', (edit === 'true' ? false : true));
        });

        $('.save-btn').on('click', function() {
            let objectId = $(this).data('id');
            const issues = {
                issues_summary: $('tr[data-e-id="' + objectId + '"] textarea[data-prop="issues_summary"]')[0].value,
                status: $('tr[data-e-id="' + objectId + '"] select[data-prop="status"]')[0].value,
                owner: $('tr[data-e-id="' + objectId + '"] input[data-prop="owner"]')[0].value,
                eta: $('tr[data-e-id="' + objectId + '"] input[data-prop="eta"]')[0].value,
                trigger_date: $('tr[data-e-id="' + objectId + '"] input[data-prop="trigger_date"]')[0].value,
                issues_initiated: $('tr[data-e-id="' + objectId + '"] input[data-prop="issues_initiated"]')[0].value,
                severity: $('tr[data-e-id="' + objectId + '"] select[data-prop="severity"]')[0].value
            }
            $.ajax({
                type: "POST",
                url: "/issues_edit_table/" + objectId,
                data: issues,
                success: function(data) {
                    window.location.reload()
                }
            })
        });

        $('.add-btn').on('click', function() {
            $('tr[data-a-id="new"]').attr('data-add', true);
        });

        $('.add-save-btn').on('click', function() {
            let objectId = "new";
            const issues = {
                issues_summary: $('tr[data-a-id="' + objectId + '"] textarea[data-prop="issues_summary"]')[0].value,
                status: $('tr[data-a-id="' + objectId + '"] select[data-prop="status"]')[0].value,
                owner: $('tr[data-a-id="' + objectId + '"] input[data-prop="owner"]')[0].value,
                eta: $('tr[data-a-id="' + objectId + '"] input[data-prop="eta"]')[0].value,
                trigger_date: $('tr[data-a-id="' + objectId + '"] input[data-prop="trigger_date"]')[0].value,
                issues_initiated: $('tr[data-a-id="' + objectId + '"] input[data-prop="issues_initiated"]')[0].value,
                severity: $('tr[data-a-id="' + objectId + '"] select[data-prop="severity"]')[0].value,
            }
            $.ajax({
                type: "POST",
                url: "/issues/",
                data: issues,
                success: function(data) {
                    window.location.reload()
                }
            })
        });

        $('.add-cancel-btn').click(function() {
            $('tr[data-a-id="new"]').attr('data-add', false);
        });
    });
</script>
<script>
    $('#projectdata').change(function(event){
        var selectedcategory = $(this).children("option:selected").val();
        sessionStorage.setItem("itemName",selectedcategory);
    });

    $('select').find('option[value='+sessionStorage.getItem('itemName')+']').attr('selected','selected');
</script>
<script>
    tail.select("#projectdata", {
    animate: true,
    deselect: false,
    disabled: false,
    height: 350,
    multiple: false,
    placeholder: "Projects",
    search: false,
    width: 170
});
</script>
</body>
</head>
</html>
