<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Key Message</title>
    <link rel="shortcut icon" href="{% static 'intel_app/img/intel.ico' %}"/>
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'intel_app/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'intel_app/css/style.css' %}" rel="stylesheet"/>
    <link href="{% static 'intel_app/css/quill.snow.css' %}" rel="stylesheet">
<body>

<!-- Example Code -->
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand">
            <span>Intel</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-md-auto gap-2">
                <li class="nav-item rounded">
                    <a class="nav-link ho" href="{% url 'home' %}">
                        <i class="fa fa-home"></i>
                        <span>Home</span>
                    </a>
                </li>
                <li class="nav-item dropdown rounded">
                    <a class="nav-link ho dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-user"></i>
                        <span>{{request.user.username}}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>
<main>
    <!-- Service 4 - Bootstrap Brain Component -->
    <section>
        <div class="container"><!--style="max-width:100%;"-->
            <form method="post" id="myForm" autocomplete="off" enctype="application/x-www-form-urlencoded">
                    {% csrf_token %}
                    <!--<input type="text" value="" />-->
                    <label class="form-label">Select Project: </label>
                    <select class="form-select" name="project" id='project' required="required">
                        <option value="" disabled="disabled" selected="selected">Projects</option>
                        {% for i in project %}
                        <option value="{{i}}">{{i}}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <label class="form-label">Key Message: </label>
                    <div id="editor" style="height: 275px;"></div>
                    <input type="hidden" name="hiddenInput" id="hiddenInput">
                    <div id="counter">Limited to 375 characters</div>
                    <p>{{error}}</p>
                    <button type="submit" id="btn" class="btn btn-primary">Submit</button>
                </form>
        </div>
    </section>
</main>


<!-- Include the Quill library -->
<script src="{% static 'intel_app/js/quill.js' %}"></script>
<script src="{% static 'intel_app/js/bootstrap.min.js' %}"></script>
<script src="{% static 'intel_app/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'intel_app/js/jquery.min.js' %}"></script>

<!-- Initialize Quill editor -->
<script>
    var toolbarOptions = [
      ['bold', 'italic', 'underline'],        // toggled buttons
      ['blockquote'],
      [{ 'list': 'ordered'}, { 'list': 'bullet' }],
      [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
      [{ 'header': [1, 2, 3, 4, 5, 6, false] }],  // custom dropdown
      [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
      [{ 'align': [] }],
      ['clean']                                         // remove formatting button
    ];
    var quill = new Quill('#editor', {
      modules: {
        toolbar: toolbarOptions
      },
      theme: 'snow' });
</script>
<script>
    var limit = 375;
    quill.on('text-change', function (delta, old, source) {
      if (quill.getLength() >= limit) {
        quill.deleteText(limit, quill.getLength());
      }
    });
</script>

<script>
    $('#btn').on('click', () => {

        // Get HTML content
        var html = quill.root.innerHTML;

        // Copy HTML content in hidden form
        $('#hiddenInput').val( html )

        e.preventDefault();

        // Post form
        myForm.submit();
    })
</script>
</body>
</head>
</html>