<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Key Program Metrics</title>
    <link rel="shortcut icon" href="{% static 'intel_app/img/intel.ico' %}"/>
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'intel_app/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'intel_app/css/style.css' %}" rel="stylesheet"/>
    <link href="{% static 'intel_app/css/quill.snow.css' %}" rel="stylesheet">
    <link href="{% static 'intel_app/bootstrap-icons-1.11.1/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'intel_app/table/bootstrap-table.min.css' %}" rel="stylesheet">
    <link href="{% static 'intel_app/table/bootstrap-table.css' %}" rel="stylesheet">
<body style="background-color:#ffffff!important;">

<!-- Example Code -->
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand">
            <span>Intel</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-md-auto gap-2">
                <li class="nav-item rounded">
                    <a class="nav-link ho" href="{% url 'home' %}">
                        <i class="fa fa-home"></i>
                        <span>Home</span>
                    </a>
                </li>
                <li class="nav-item dropdown rounded">
                    <a class="nav-link ho dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-user"></i>
                        <span>{{request.user.username}}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>
<main>
    <!-- Service 4 - Bootstrap Brain Component -->
    <section>
        <div class="container"><!--style="max-width:100%;"-->
            <div class="card">
                <div class="card-header">
                    <b>Key Program Metrics</b>
                </div>
                <div class="card-body">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                            style="float:right;">
                        Add Key Program Metrics
                    </button>
                    <br><br>
                    <table class="table table-bordered table-striped" id="example"
                           data-toggle="table"
                           data-pagination="true"
                           data-search="true"
                           data-search-align="left"
                           data-show-columns="true"
                           data-show-toggle="false"
                           data-show-columns-toggle-all="true"
                           data-show-export="true"
                           data-export-data-type="all"
                           data-response-handler="responseHandler"
                           data-show-fullscreen="true"
                           data-show-pagination-switch="true"
                           data-height="510"
                           data-sort-name="eta"
                           data-sort-order="desc"
                           data-pagination-pre-text="Previous"
                           data-pagination-next-text="Next"
                           data-pagination-h-align="left"
                           data-pagination-detail-h-align="right"
                           data-page-size="6"
                           data-page-list="[20, 30, 40, 50, All]"
                           data-buttons-class="primary">
                        <thead>
                        <tr>
                            <th nowrap data-sortable="true" class="category">Category</th>
                            <th nowrap data-sortable="true" class="metric">Metric</th>
                            <th nowrap data-sortable="true" class="target">FV Target</th>
                            <th nowrap data-sortable="true" class="actual">Current Week Actual</th>
                            <th nowrap data-sortable="true" class="plan">Current Week Plan</th>
                            <th nowrap data-sortable="true" data-field="status" class="status" data-formatter="nameFormatter">
                                Status
                            </th>
                            <th nowrap data-sortable="true" class="comments">Comments</th>
                            <th nowrap data-sortable="true"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for i in data %}
                        <tr>
                            <td nowrap class="category">{{ i.category | linebreaks }}</td>
                            <td nowrap class="metric">{{ i.metric | linebreaks }}</td>
                            <td nowrap class="target">{{ i.fv_target | linebreaks }}</td>
                            <td nowrap class="actual">{{ i.current_week_actual | linebreaks }}</td>
                            <td nowrap class="plan">{{ i.current_week_plan | linebreaks }}</td>
                            <td nowrap class="status">{{ i.status }}</td>
                            <td nowrap class="comments">{{ i.comments | linebreaks }}</td>
                            <td style="white-space: nowrap;">
                                <button type="button" class="btn btn-primary btn-sm" title="Edit Metric"><a
                                        style="text-decoration:none;color:#fff;" href="{% url 'key_program_edit' pk=i.id %}"><i
                                        class="fas fa-edit"></i>&nbsp;Edit</a></button>
                                <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal"
                                        title="Delete Metric"><a
                                        style="text-decoration:none;color:#fff;" href="#"><i
                                        class="fas fa-trash"></i>&nbsp;Delete</a></button>
                            </td>
                            {% endfor %}
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="close-modal">No</button>
                <button type="button" class="btn btn-danger"><a style="text-decoration:none;color:#fff;"
                href="{% url 'key_program_delete' pk=i.id %}">Yes</a></button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel">Key Program Metrics</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Create the editor container -->
                <form method="post" id="myForm" autocomplete="off" enctype="application/x-www-form-urlencoded">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <label class="form-label" for="category">Category</label>
                                <textarea class="form-control" id="category" name="category" placeholder="Enter Category"
                                          cols="3" maxlength="250" required="required"></textarea>
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label">Select Project</label>
                                <select class="form-select" name="project" id='project'>
                                    <option value="" disabled="disabled" selected="selected">Projects</option>
                                    {% for i in project %}
                                    <option value="{{i}}">{{i}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <label class="form-label" for="metric">Metric</label>
                                <textarea class="form-control" id="metric" name="metric" placeholder="Enter Metric"
                                          cols="3" maxlength="250" required="required"></textarea>
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label" for="target">FV Target</label>
                                <textarea class="form-control" id="target" name="target" placeholder="Enter Target"
                                          cols="3" maxlength="250" required="required"></textarea>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <label class="form-label" for="actual">Current Week Actual</label>
                                <textarea class="form-control" id="actual" name="actual" placeholder="Enter Current Week Actual"
                                          cols="3" maxlength="250" required="required"></textarea>
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label" for="plan">Current Week Plan</label>
                                <textarea class="form-control" id="plan" name="plan" placeholder="Enter Current Week Plan"
                                          cols="3" maxlength="250" required="required"></textarea>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <label class="form-label">Status</label>
                                <select class="form-select" name="status" id='status' required="required">
                                    <option value="" disabled="disabled" selected="selected">Select Status</option>
                                    <option value="R">R</option>
                                    <option value="G">G</option>
                                    <option value="B">B</option>
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label" for="comments">Comments</label>
                                <textarea class="form-control" id="comments" name="comments" placeholder="Enter Comments"
                                          cols="3" maxlength="250" required="required"></textarea>
                            </div>
                        </div>
                    </div>
                    <br>
                    <p>{{error}}</p>
                    <button type="submit" id="btn" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Include the Quill library -->
<script src="{% static 'intel_app/js/jquery.min.js' %}"></script>
<script src="{% static 'intel_app/js/quill.js' %}"></script>
<script src="{% static 'intel_app/table/popper.min.js' %}"></script>
<script src="{% static 'intel_app/js/bootstrap.min.js' %}"></script>
<script src="{% static 'intel_app/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'intel_app/table/bootstrap-table.min.js' %}"></script>
<script src="{% static 'intel_app/table/bootstrap-table.js' %}"></script>
<script src="{% static 'intel_app/table/tableExport.min.js' %}"></script>
<script src="{% static 'intel_app/table/bootstrap-table-export.min.js' %}"></script>
<script>
    function nameFormatter(value, row) {
      var icon = row.status === 'R'  ? 'fa-circle fa-sm text-danger' :
      row.status === 'G'  ? 'fa-circle fa-sm text-success' :
      row.status === 'B'  ? 'fa-circle fa-sm text-primary' :
      'fa-circle fa-sm text-info'
      return '<i class="fa ' + icon + '"></i> ' + value
    }

</script>
<script>
    $('#example').bootstrapTable({
    exportOptions: {
        fileName: 'Key Program Metric'
    },
    exportTypes: ['csv', 'excel'],
});
</script>
</body>
</head>
</html>