<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Key Message</title>
    <link rel="shortcut icon" href="{% static 'intel_app/img/intel.ico' %}"/>
    <link rel="stylesheet" href="{% static 'intel_app/fontawesome-free-6.4.2/css/all.min.css' %}"/>
    <link href="{% static 'intel_app/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'intel_app/css/style.css' %}" rel="stylesheet"/>
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<body>

<!-- Example Code -->
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand">
            <img src="{% static 'intel_app/img/logo.png' %}" style="width:40px;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-md-auto gap-2">
                <li class="nav-item dropdown rounded">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-user"></i>
                        <span>{{request.user.username}}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>
<main>
    <!-- Service 4 - Bootstrap Brain Component -->
    <section>
        <div class="container"><!--style="max-width:100%;"-->
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="float:right;">
                Create
            </button>
            <br><br>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Message ID</th>
                    <th>User</th>
                    <th>Message</th>
                </tr>
                </thead>
                <tbody>
                {% for i in data %}
                <tr>
                    <td>{{ i.id }}</td>
                    <td>test_user</td>
                    <td>{{ i.message }}</td>
                {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>
    </section>
</main>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Create the editor container -->
                <form method="post" id="identifier" autocomplete="off" enctype="application/x-www-form-urlencoded">
                    {% csrf_token %}
                    <!--<input type="text" value="" />-->
                    <div id="editor" style="height: 275px;"></div>
                    <input type="hidden" name="hiddenInput" id="hiddenInput">
                    <div id="counter">Limited to 375 characters</div>
                    <p>{{error}}</p>
                    <button type="submit" id="btn" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Include the Quill library -->
<script src="{% static 'intel_app/js/bootstrap.min.js' %}"></script>
<script src="{% static 'intel_app/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'intel_app/js/jquery.min.js' %}"></script>
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

<!-- Initialize Quill editor -->
<script>
    var toolbarOptions = [
      ['bold', 'italic', 'underline'],        // toggled buttons
      ['blockquote'],
      [{ 'list': 'ordered'}, { 'list': 'bullet' }],
      [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
      [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
      [{ 'header': [1, 2, 3, 4, 5, 6, false] }],

      [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
      [{ 'align': [] }],
      ['clean']                                         // remove formatting button
    ];
    var quill = new Quill('#editor', {
      modules: {
        toolbar: toolbarOptions
      },
      theme: 'snow' });
</script>
<script>
    var limit = 375;
    quill.on('text-change', function (delta, old, source) {
      if (quill.getLength() >= limit) {
        quill.deleteText(limit, quill.getLength());
      }
    });
</script>
<!--<script>
    $( '#btn' ).on('click', function(e) {
    const csrf_token = $( 'input[name=csrfmiddlewaretoken]' ).val()
    const contents = $( '#editor' ).text()
    $.ajax({
        type: 'post',
        url: '{% url 'key_message' %}',
        data: {
            contents: contents
        },
        success: function(data, status, jqXHR) {
            console.log('Here you could update your frontend if needed')
        }
    })
}
</script>-->
<script>

  var form = document.querySelector("form");
  var hiddenInput = document.querySelector('#hiddenInput');

  form.addEventListener('submit', function(e){
    hiddenInput.value = quill.root.innerHTML;
  });

</script>
</body>
</head>
</html>