<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Key Program Metrics</title>
    <link rel="shortcut icon" href="{% static 'intel_app/img/intel.ico' %}"/>
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'intel_app/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'intel_app/css/style.css' %}" rel="stylesheet"/>
    <link href="{% static 'intel_app/css/quill.snow.css' %}" rel="stylesheet">
    <link href="{% static 'intel_app/bootstrap-icons-1.11.1/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'intel_app/table/bootstrap-table.min.css' %}" rel="stylesheet">
    <link href="{% static 'intel_app/table/bootstrap-table.css' %}" rel="stylesheet">
    <style>
        tr[data-non-edit="true"] {

        }
        tr[data-non-edit="false"] {
            display : none;
        }
        tr[data-edit="true"] {

        }
        tr[data-edit="false"] {
            display : none;
        }

        tr[data-add="false"] {
            display : none;
        }
    </style>
<body style="background-color:#ffffff!important;">

<!-- Example Code -->
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand">
            <span>Intel</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-md-auto gap-2">
                <li class="nav-item rounded">
                    <a class="nav-link ho" href="{% url 'home' %}">
                        <i class="fa fa-home"></i>
                        <span>Home</span>
                    </a>
                </li>
                <li class="nav-item dropdown rounded">
                    <a class="nav-link ho dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-user"></i>
                        <span>{{request.user.username}}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>
<main>
    <!-- Service 4 - Bootstrap Brain Component -->
    <section>
        <div class="container"><!--style="max-width:100%;"-->
            <div class="card">
                <div class="card-header">
                    <b>Key Program Metrics</b>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary btn-sm add-btn"
                            style="float:right;">
                        Add Metric
                    </button>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-striped" id="example"
                           data-toggle="table"
                           data-search="true"
                           data-search-align="left"
                           data-show-columns="true"
                           data-show-toggle="false"
                           data-show-columns-toggle-all="true"
                           data-show-export="true"
                           data-export-data-type="all"
                           data-response-handler="responseHandler"
                           data-show-fullscreen="true"
                           data-buttons-class="primary btn-sm">
                        <thead>
                        <tr>
                            <th scope="col" nowrap data-field="category" class="w-50 p-3 category">Category</th>
                            <th scope="col" nowrap data-field="project" class="w-50 p-3 project">Project&nbsp;&nbsp;&nbsp;</th>
                            <th scope="col" nowrap data-field="status" class="w-50 p-3 status">Status</th>
                            <th scope="col" nowrap data-field="metric" class="w-50 p-3 metric">Metric</th>
                            <th scope="col" nowrap data-field="target" class="w-50 p-3 target">FV Target</th>
                            <th scope="col" nowrap data-field="actual" class="w-50 p-3 actual">Current Week Actual</th>
                            <th scope="col" nowrap data-field="plan" class="w-50 p-3 plan">Current Week Plan</th>
                            <th scope="col" nowrap data-field="comments" class="w-50 p-3 comments">Comments</th>
                            <th scope="col" nowrap data-field="action" class="w-50 p-3 action">Action</th>
                        </tr>
                        </thead>
                        <tbody data-body="key_program">
                        <tr data-a-id="new" data-add="false">
                            <td class="category">
                                <textarea class="form-control" data-prop="category" name="category" placeholder="Enter Category" cols="3" maxlength="250" required="required"></textarea>
                            </td>
                            <td class="project">
                                <select class="form-select" name="project" data-prop='project' required="required">
                                    <option value="" disabled="disabled" selected="selected">Projects</option>
                                    {% for i in project %}
                                    <option value="{{i}}">{{i}}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td class="status">
                                <select class="form-select" data-prop="status" name="status" required="required">
                                    <option value="" disabled="disabled" selected="selected">Select Status</option>
                                    <option value="R">R</option>
                                    <option value="G">G</option>
                                    <option value="B">B</option>
                                    <option value="Y">Y</option>
                                </select>
                            </td>
                            <td class="metric">
                                <textarea class="form-control" data-prop="metric" name="metric" placeholder="Enter Metric" cols="3" maxlength="250" required="required"></textarea>
                            </td>
                            <td class="target">
                                <textarea class="form-control" data-prop="target" name="target" placeholder="Enter Target" cols="3" maxlength="250" required="required"></textarea>
                            </td>
                            <td class="actual">
                                <textarea class="form-control" data-prop="actual" name="actual" placeholder="Enter Current Week Actual" cols="3" maxlength="250" required="required"></textarea>
                            </td>
                            <td class="plan">
                                <textarea class="form-control" data-prop="plan" name="plan" placeholder="Enter Current Week Plan" cols="3" maxlength="250" required="required"></textarea>
                            </td>
                            <td class="comments">
                                <textarea class="form-control" data-prop="comments" name="comments" placeholder="Enter Comments" cols="3" maxlength="250" required="required"></textarea>
                            </td>
                            <td class="text-center">
                                <button data-id="new-save" type="button" class="btn btn-success btn-sm add-save-btn" title="Save Metric">
                                    <i class="fa-solid fa-check"></i>
                                </button>
                                <button data-id="new-cancel" type="button" class="btn btn-danger btn-sm add-cancel-btn" title="Edit Metric">
                                    <i class="fa-solid fa-xmark"></i>
                                </button>
                            </td>
                        </tr>
                        {% for i in data %}
                        <tr data-n-id="{{ i.id }}" data-non-edit="true">
                            <td nowrap class="category">{{ i.category | linebreaks }}</td>
                            <td nowrap class="project">{{ i.project }}</td>
                            <td nowrap class="status">{{ i.status.0 }}</td>
                            <td nowrap class="metric">{{ i.metric | linebreaks }}</td>
                            <td nowrap class="target">{{ i.fv_target | linebreaks }}</td>
                            <td nowrap class="actual">{{ i.current_week_actual | linebreaks }}</td>
                            <td nowrap class="plan">{{ i.current_week_plan | linebreaks }}</td>
                            <td nowrap class="comments">{{ i.comments | linebreaks }}</td>
                            <td class="text-center">
                                <button data-id="{{ i.id }}" type="button" class="btn btn-info btn-sm edit-btn" title="Edit Metric">
                                    <i class="fas fa-edit"></i>
                                </button>
                                <div class="text-center">
                                    <!-- Button HTML (to Trigger Modal) -->
                                    <button type="button" class="btn btn-danger btn-sm" title="Delete Metric">
                                        <a data-bs-toggle="modal" data-bs-target="#myModal" role="button" style="text-decoration:none;color:#fff;">
                                            <i class="fas fa-trash"></i></a>
                                    </button>
                                </div>
                                <!-- Modal -->
                                <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h6 class="modal-title" id="exampleModalLabel">Are you sure?</h6>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <h6>Do you really want to delete these record? This process cannot be undone.</h6>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-danger"><a href="{% url 'key_program_delete' pk=i.id %}" role="button" style="text-decoration:none;color:#fff;">Delete</a></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr data-e-id="{{ i.id }}" data-edit="false">
                            <td class="category">
                                <textarea class="form-control" data-prop="category" name="category" cols="3" maxlength="250" required="required">{{ i.category }}</textarea>
                            </td>
                            <td class="project">
                                <input class="form-control" type="text" name="project" data-prop="project" value="{{i.project}}" disabled />
                            </td>
                            <td class="status">
                                <select class="form-select" data-prop="status" name="status" required="required">
                                    {% for i in i.status %}
                                    <option value="{{i}}">{{i}}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td class="metric">
                                <textarea class="form-control" data-prop="metric" name="metric" cols="3" maxlength="250" required="required">{{ i.metric }}</textarea>
                            </td>
                            <td class="target">
                                <textarea class="form-control" data-prop="target" name="target" cols="3" maxlength="250" required="required">{{ i.fv_target }}</textarea>
                            </td>
                            <td class="actual">
                                <textarea class="form-control" data-prop="actual" name="actual" cols="3" maxlength="250" required="required">{{ i.current_week_actual }}</textarea>
                            </td>
                            <td class="plan">
                                <textarea class="form-control" data-prop="plan" name="plan" cols="3" maxlength="250" required="required">{{ i.current_week_plan }}</textarea>
                            </td>
                            <td class="comments">
                                <textarea class="form-control" data-prop="comments" name="comments" cols="3" maxlength="250" required="required">{{i.comments}}</textarea>
                            </td>
                            <div class="text-center">
                                <td>
                                    <button data-id="{{ i.id }}" type="button" class="btn btn-success btn-sm save-btn" title="Save Metric">
                                        <i class="fa-solid fa-check"></i>
                                    </button>
                                    <button data-id="{{ i.id }}" type="button" class="btn btn-danger btn-sm cancel-btn" title="Cancel Metric">
                                        <i class="fa-solid fa-xmark"></i>
                                    </button>
                                </td>
                            </div>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirmation</h5>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="close-modal"><a href="{% url 'key_program' %}" style="text-decoration:none;color:#fff;">No</a></button>
                <button type="button" class="btn btn-danger"><a style="text-decoration:none;color:#fff;"
                                                                href="#">Yes</a></button>
            </div>
        </div>
    </div>
</div>
<!-- Include the Quill library -->
<script src="{% static 'intel_app/js/jquery.min.js' %}"></script>
<script src="{% static 'intel_app/js/quill.js' %}"></script>
<script src="{% static 'intel_app/table/popper.min.js' %}"></script>
<script src="{% static 'intel_app/js/bootstrap.min.js' %}"></script>
<script src="{% static 'intel_app/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'intel_app/table/bootstrap-table.min.js' %}"></script>
<script src="{% static 'intel_app/table/bootstrap-table.js' %}"></script>
<script src="{% static 'intel_app/table/tableExport.min.js' %}"></script>
<script src="{% static 'intel_app/table/bootstrap-table-export.min.js' %}"></script>
<script>
    $('#example').bootstrapTable({
        exportOptions: {
            fileName: 'Key Program Metric'
        },
        exportTypes: ['excel'],
    });

    $(document).ready(function() {
        $('.edit-btn').on('click', function() {
            let objectId = $(this).data('id');
            const non_Edit = $('tr[data-n-id="' + objectId + '"]').attr('data-non-edit');
            const edit = $('tr[data-e-id="' + objectId + '"]').attr('data-edit');
            $('tr[data-n-id="' + objectId + '"]').attr('data-non-edit', (non_Edit === 'true' ? false : true));
            $('tr[data-e-id="' + objectId + '"]').attr('data-edit', (edit === 'true' ? false : true));
        });

        $('.cancel-btn').on('click', function() {
            let objectId = $(this).data('id');
            const non_Edit = $('tr[data-n-id="' + objectId + '"]').attr('data-non-edit');
            const edit = $('tr[data-e-id="' + objectId + '"]').attr('data-edit');
            $('tr[data-n-id="' + objectId + '"]').attr('data-non-edit', (non_Edit === 'true' ? false : true));
            $('tr[data-e-id="' + objectId + '"]').attr('data-edit', (edit === 'true' ? false : true));
        });

        $('.save-btn').on('click', function() {
            let objectId = $(this).data('id');
            const key_program = {
                category: $('tr[data-e-id="' + objectId + '"] textarea[data-prop="category"]')[0].value,
                project: $('tr[data-e-id="' + objectId + '"] input[data-prop="project"]')[0].value,
                status: $('tr[data-e-id="' + objectId + '"] select[data-prop="status"]')[0].value,
                metric: $('tr[data-e-id="' + objectId + '"] textarea[data-prop="metric"]')[0].value,
                target: $('tr[data-e-id="' + objectId + '"] textarea[data-prop="target"]')[0].value,
                actual: $('tr[data-e-id="' + objectId + '"] textarea[data-prop="actual"]')[0].value,
                plan: $('tr[data-e-id="' + objectId + '"] textarea[data-prop="plan"]')[0].value,
                comments: $('tr[data-e-id="' + objectId + '"] textarea[data-prop="comments"]')[0].value,
            }
            $.ajax({
                type: "POST",
                url: "/key_program_edit/" + objectId,
                data: key_program,
                success: function(data) {
                    window.location.reload()
                }
            })
        });

        $('.add-btn').on('click', function() {
            $('tr[data-a-id="new"]').attr('data-add', true);
        });

        $('.add-save-btn').on('click', function() {
            let objectId = "new";
            const key_program = {
                category: $('tr[data-a-id="' + objectId + '"] textarea[data-prop="category"]')[0].value,
                project: $('tr[data-a-id="' + objectId + '"] select[data-prop="project"]')[0].value,
                status: $('tr[data-a-id="' + objectId + '"] select[data-prop="status"]')[0].value,
                metric: $('tr[data-a-id="' + objectId + '"] textarea[data-prop="metric"]')[0].value,
                target: $('tr[data-a-id="' + objectId + '"] textarea[data-prop="target"]')[0].value,
                actual: $('tr[data-a-id="' + objectId + '"] textarea[data-prop="actual"]')[0].value,
                plan: $('tr[data-a-id="' + objectId + '"] textarea[data-prop="plan"]')[0].value,
                comments: $('tr[data-a-id="' + objectId + '"] textarea[data-prop="comments"]')[0].value,
            }
            $.ajax({
                type: "POST",
                url: "/key_program/",
                data: key_program,
                success: function(data) {
                    window.location.reload()
                }
            })
        });

        $('.add-cancel-btn').click(function() {
            $('tr[data-a-id="new"]').attr('data-add', false);
        });
    });
</script>
<script>
    var allTableCells = document.getElementsByTagName("td");
    for(var i = 0, max = allTableCells.length; i < max; i++) {
        var node = allTableCells[i];

        //get the text from the first child node - which should be a text node
        var currentText = node.childNodes[0].nodeValue;

        //check for 'one' and assign this table cell's background color accordingly
        if (currentText === "R")
            node.innerHTML = '<i class="fas fa-circle text-danger fa-sm">&nbsp;' + node.innerHTML;
        else if (currentText === "G")
            node.innerHTML = '<i class="fas fa-circle text-success fa-sm">&nbsp;' + node.innerHTML;
        else if (currentText === "B")
            node.innerHTML = '<i class="fas fa-circle text-primary fa-sm">&nbsp;' + node.innerHTML;
        else if (currentText === "Y")
            node.innerHTML = '<i class="fas fa-circle text-warning fa-sm">&nbsp;' + node.innerHTML;
    }
</script>
</body>
</head>
</html>