<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Links</title>
    <link rel="shortcut icon" href="{% static 'intel_app/img/intel.ico' %}"/>
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'intel_app/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'intel_app/css/style.css' %}" rel="stylesheet"/>
    <link href="{% static 'intel_app/css/quill.snow.css' %}" rel="stylesheet">
    <link href="{% static 'intel_app/bootstrap-icons-1.11.1/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'intel_app/table/bootstrap-table.min.css' %}" rel="stylesheet">
    <link href="{% static 'intel_app/table/bootstrap-table.css' %}" rel="stylesheet">
    <style>
        tr[data-non-edit="true"] {

        }
        tr[data-non-edit="false"] {
            display : none;
        }
        tr[data-edit="true"] {

        }
        tr[data-edit="false"] {
            display : none;
        }

        tr[data-add="false"] {
            display : none;
        }
    </style>
<body style="background-color:#ffffff!important;">

<!-- Example Code -->
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand">
            <span>Intel</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-md-auto gap-2">
                <li class="nav-item rounded">
                    <a class="nav-link ho" href="{% url 'home' %}">
                        <i class="fa fa-home"></i>
                        <span>Home</span>
                    </a>
                </li>
                <li class="nav-item dropdown rounded">
                    <a class="nav-link ho dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-user"></i>
                        <span>{{request.user.username}}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>
<main>
    <!-- Service 4 - Bootstrap Brain Component -->
    <section>
        <div class="container"><!--style="max-width:100%;"-->
            <div class="card">
                <div class="card-header">
                    <b>Links</b>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary btn-sm add-btn"
                            style="float:right;">
                        Links
                    </button>
                </div>
                <div class="card-body">
                    <form>
                        <table class="table table-bordered table-striped" id="example"
                               data-toggle="table"
                               data-search="true"
                               data-search-align="left"
                               data-show-columns="true"
                               data-show-toggle="false"
                               data-show-columns-toggle-all="true"
                               data-show-export="true"
                               data-export-data-type="all"
                               data-response-handler="responseHandler"
                               data-show-fullscreen="true"
                               data-buttons-class="primary btn-sm">
                            <thead>
                            <tr>
                                <th scope="col" nowrap data-field="project" class="w-50 p-3 project">Project&nbsp;&nbsp;&nbsp;</th>
                                <th scope="col" nowrap data-field="links_url" class="w-50 p-3 links_url">Links</th>
                                <th scope="col" nowrap data-field="comments_links" class="w-50 p-3 comments_links">Comments</th>
                                <th scope="col" nowrap data-field="action" class="w-50 p-3 action">Action</th>
                            </tr>
                            </thead>
                            <tbody data-body="links">
                            <tr data-a-id="new" data-add="false">
                                <td class="project">
                                    <select class="form-select" name="project" data-prop='project' required="required">
                                        <option value="" disabled="disabled" selected="selected">Projects</option>
                                        {% for i in project %}
                                        <option value="{{i}}">{{i}}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td class="links_url">
                                    <input class="form-control" data-prop="links_url" name="links_url" type="url"  placeholder="Enter Links" pattern="^(http:\/\/www\.|https:\/\/www\.|http:\/\/|https:\/\/)?[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{1,5})?(\/.*)?$"
                                           oninvalid="setCustomValidity('Please Enter URL.')"
                                           onchange="try{setCustomValidity('')}catch(e){}" required="required">
                                </td>
                                <td class="comments_links">
                                    <textarea class="form-control" data-prop="comments_links" name="comments_links" placeholder="Enter Comments" cols="3" maxlength="250" required="required"></textarea>
                                </td>
                                <td class="text-center">
                                    <button data-id="new-save" type="button" class="btn btn-success btn-sm add-save-btn" title="Save Links">
                                        <i class="fa-solid fa-check"></i>
                                    </button>
                                    <button data-id="new-cancel" type="reset" class="btn btn-danger btn-sm add-cancel-btn" title="Edit Links">
                                        <i class="fa-solid fa-xmark"></i>
                                    </button>
                                </td>
                            </tr>
                            {% for i in data %}
                            <tr data-n-id="{{ i.links_id }}" data-non-edit="true">
                                <td nowrap class="project">{{ i.project }}</td>
                                <td nowrap class="links_url">{{ i.links_url }}</td>
                                <td nowrap class="comments_links">{{ i.comments_links }}</td>
                                <td>
                                    <button data-id="{{ i.links_id }}" type="button" class="btn btn-info btn-sm edit-btn" title="Edit Links">
                                        <i class="fas fa-edit"></i></button>
                                </td>
                            </tr>
                            <tr data-e-id="{{ i.links_id }}" data-edit="false">
                                <td class="project">
                                    <input class="form-control" type="text" name="project" data-prop="project" value="{{i.project}}" disabled />
                                </td>
                                <td class="links_url">
                                    <input class="form-control" data-prop="links_url" name="links_url" type="url"  placeholder="Enter Links" pattern="^(http:\/\/www\.|https:\/\/www\.|http:\/\/|https:\/\/)?[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{1,5})?(\/.*)?$"
                                           oninvalid="setCustomValidity('Please Enter URL.')"
                                           onchange="try{setCustomValidity('')}catch(e){}" value="{{i.links_url}}" required="required">
                                </td>
                                <td class="comments_links">
                                    <textarea class="form-control" data-prop="comments_links" name="comments_links" cols="3" maxlength="250" required="required">{{i.comments_links}}</textarea>
                                </td>
                                <div class="text-center">
                                    <td>
                                        <button data-id="{{ i.links_id }}" type="submit" class="btn btn-success btn-sm save-btn" title="Save Links">
                                            <i class="fa-solid fa-check"></i>
                                        </button>
                                        <button data-id="{{ i.links_id }}" type="reset" class="btn btn-danger btn-sm cancel-btn" title="Cancel Links">
                                            <i class="fa-solid fa-xmark"></i>
                                        </button>
                                    </td>
                                </div>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- Include the Quill library -->
<script src="{% static 'intel_app/js/jquery.min.js' %}"></script>
<script src="{% static 'intel_app/js/quill.js' %}"></script>
<script src="{% static 'intel_app/table/popper.min.js' %}"></script>
<script src="{% static 'intel_app/js/bootstrap.min.js' %}"></script>
<script src="{% static 'intel_app/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'intel_app/table/bootstrap-table.min.js' %}"></script>
<script src="{% static 'intel_app/table/bootstrap-table.js' %}"></script>
<script src="{% static 'intel_app/table/tableExport.min.js' %}"></script>
<script src="{% static 'intel_app/table/bootstrap-table-export.min.js' %}"></script>
<script>
    $('#example').bootstrapTable({
        exportOptions: {
            fileName: 'Links'
        },
        exportTypes: ['excel'],
    });
    $(document).ready(function() {
        $('.edit-btn').on('click', function () {
            let objectId = $(this).data('id');
            const non_Edit = $('tr[data-n-id="' + objectId + '"]').attr('data-non-edit');
            const edit = $('tr[data-e-id="' + objectId + '"]').attr('data-edit');
            $('tr[data-n-id="' + objectId + '"]').attr('data-non-edit', (non_Edit === 'true' ? false : true));
            $('tr[data-e-id="' + objectId + '"]').attr('data-edit', (edit === 'true' ? false : true));
        });

        $('.cancel-btn').on('click', function () {
            let objectId = $(this).data('id');
            const non_Edit = $('tr[data-n-id="' + objectId + '"]').attr('data-non-edit');
            const edit = $('tr[data-e-id="' + objectId + '"]').attr('data-edit');
            $('tr[data-n-id="' + objectId + '"]').attr('data-non-edit', (non_Edit === 'true' ? false : true));
            $('tr[data-e-id="' + objectId + '"]').attr('data-edit', (edit === 'true' ? false : true));
        });

        $('.save-btn').on('click', function () {
            let objectId = $(this).data('id');
            const links = {
               project : $('tr[data-e-id="' + objectId + '"] input[data-prop="project"]')[0].value,
               links_url : $('tr[data-e-id="' + objectId + '"] input[data-prop="links_url"]')[0].value,
               comments_links : $('tr[data-e-id="' + objectId + '"] textarea[data-prop="comments_links"]')[0].value,
            }
            $.ajax(
                    {
                        type:"POST",
                        url: "/links_edit_table/"+objectId,
                        data:links,
                        success: function( data )
                        {
                        window.location.reload()

                        }
                     })

            console.log(links);
        });

        $('.add-btn').on('click', function () {
           $('tr[data-a-id="new"]').attr('data-add', true);
        });

         $('.add-save-btn').on('click', function () {

            let objectId = "new";
            const links = {
               project : $('tr[data-a-id="' + objectId + '"] select[data-prop="project"]')[0].value,
               links_url : $('tr[data-a-id="' + objectId + '"] input[data-prop="links_url"]')[0].value,
               comments_links : $('tr[data-a-id="' + objectId + '"] textarea[data-prop="comments_links"]')[0].value,
            }
            $.ajax({
                type: "POST",
                url: "/links/",
                data: links,
                success: function(data) {
                    window.location.reload()
                }
            })
        });

         $('.add-cancel-btn').click(function () {
            $('tr[data-a-id="new"]').attr('data-add', false);
        });
    });
</script>
</body>
</head>
</html>