<!doctype html>
{% load static %}
<html lang="en">
<head>
    <title>Login</title>
    <link rel="shortcut icon" href="{% static 'intel_app/img/intel.ico' %}"/>
    <link href="{% static 'intel_app/fontawesome-free-6.4.2/css/all.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'intel_app/css/bootstrap.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'intel_app/css/login.css' %}" rel="stylesheet"/>
    <script src="{% static 'intel_app/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'intel_app/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'intel_app/js/jquery.min.js' %}"></script>
    >
<body>
<div class="container-fluid ps-md-0">
    <div class="row g-0">
        <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
        <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-8 mx-auto">
                            <h3 class="login-heading mb-4">Welcome back!</h3>
                            <!-- Sign In Form -->
                            <form method="POST" autocomplete="off" enctype="application/x-www-form-urlencoded">
                                {% csrf_token %}
                                <div class="form-floating mb-3">
                                    <input type=text class="form-control" autocomplete="off" id="floatingInput"
                                           name="username" placeholder="name@example.com">
                                    <label for="floatingInput">Username</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="password" class="form-control" autocomplete="off" id="floatingPassword"
                                           name="password" placeholder="Password">
                                    <label for="floatingPassword">Password</label>
                                </div>
                                <div class="d-grid">
                                    <p>{{error}}</p>
                                    <button class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2"
                                            type="submit">Sign in
                                    </button>
                                    <div class="text-center">
                                        <a class="small" href="{% url 'forgot_password' %}">Forgot password?</a>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</head>
</html>