<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Schedule</title>
    <link rel="shortcut icon" href="{% static 'intel_app/img/intel.ico' %}"/>
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'intel_app/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'intel_app/css/style.css' %}" rel="stylesheet"/>
    <link href="{% static 'intel_app/css/quill.snow.css' %}" rel="stylesheet">
    <link href="{% static 'intel_app/bootstrap-icons-1.11.1/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'intel_app/table/bootstrap-table.min.css' %}" rel="stylesheet">
    <link href="{% static 'intel_app/table/bootstrap-table.css' %}" rel="stylesheet">
    <link href="{% static 'intel_app/css/tail.select-default.min.css' %}" rel="stylesheet">
    <link href="{% static 'intel_app/css/bootstrap-toggle.min.css' %}" rel="stylesheet">

    <style>
        tr[data-non-edit="true"] {

        }
        tr[data-non-edit="false"] {
            display : none;
        }
        tr[data-edit="true"] {

        }
        tr[data-edit="false"] {
            display : none;
        }

        tr[data-add="false"] {
            display : none;
        }
    </style>
<body style="background-color:#ffffff!important;">

<!-- Example Code -->
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand">
            <span>Intel</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-md-auto gap-2">
                <form method="POST" action="{% url 'project_change' func_name='schedule' %}" id="projectForm">
                    {% csrf_token %}
                    <select name="projectdata" id='projectdata' onchange="this.form.submit();">
                        <option value="" disabled >Projects</option>
                        {% for i in project %}
                        <option value="{{i}}">{{i}}</option>
                        {% endfor %}
                    </select>
                    <p style="display:none;">{{error}}</p>
                </form>
                <li class="nav-item rounded">
                    <a class="nav-link ho" href="{% url 'home' %}">
                        <i class="fa fa-home"></i>
                        <span>Home</span>
                    </a>
                </li>
                <li class="nav-item dropdown rounded">
                    <a class="nav-link ho dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-user"></i>
                        <span>{{user}}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>
<main>
    <!-- Service 4 - Bootstrap Brain Component -->
    <section>
        <div class="container"><!--style="max-width:100%;"-->
            <div class="card">
                <div class="card-header">
                    <b>Schedule</b>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary btn-sm add-btn"
                            style="float:right;">
                        Add Schedule
                    </button>
                </div>
                <div class="card-body">
                    <form>
                        <table class="table table-bordered table-striped" id="example"
                               data-toggle="table"
                               data-search="true"
                               data-search-align="left"
                               data-show-columns="true"
                               data-show-toggle="false"
                               data-show-columns-toggle-all="true"
                               data-show-export="true"
                               data-export-data-type="all"
                               data-response-handler="responseHandler"
                               data-show-fullscreen="true"
                               data-buttons-class="primary btn-sm">
                            <thead>
                            <tr>
                                <th scope="col" nowrap data-field="switch_button" class="w-50 p-3 switch_button">On/Off</th>
                                <th scope="col" nowrap data-field="milestone" class="w-50 p-3 milestone">Milestone</th>
                                <th scope="col" nowrap data-field="status" class="w-50 p-3 status" data-formatter="nameFormatter">Status</th>
                                <th scope="col" nowrap data-field="por_commit" class="w-50 p-3 por_commit">POR Commit</th>
                                <th scope="col" nowrap data-field="por_trend" class="w-50 p-3 por_trend">POR Trend</th>
                                <th scope="col" nowrap data-field="comments" class="w-50 p-3 comments">Comments</th>
                                <th scope="col" nowrap data-field="action" class="w-50 p-3 action">Action</th>
                            </tr>
                            </thead>
                            <tbody data-body="schedule">
                            <tr data-a-id="new" data-add="false">
                                <td class="switch_button">
                                    <input type="checkbox" class="form-control" name="switch_button" checked data-prop="switch_button" data-toggle="toggle" data-onstyle="primary" data-offstyle="danger" required="required">
                                </td>
                                <td class="milestone">
                                    <textarea class="form-control" data-prop="milestone" name="milestone" placeholder="Enter Milestone" cols="3" maxlength="250" required="required"></textarea>
                                </td>
                                <td class="status">
                                    <select class="form-select" data-prop="status" name="status" required="required">
                                        <option value="" disabled="disabled" selected="selected">Select Status</option>
                                        <option value="R">R</option>
                                        <option value="G">G</option>
                                        <option value="B">B</option>
                                        <option value="Y">Y</option>
                                        <option value="Done" style="color:green; font-weight: 600;">&#x2714;</option>
                                    </select>
                                </td>
                                <td class="por_commit">
                                    <input class="form-control" data-prop="por_commit" name="por_commit" type="text"
                                           placeholder="Enter POR Commit" required="required" />
                                </td>
                                <td class="por_trend">
                                    <input class="form-control" data-prop="por_trend" name="por_trend" type="text"
                                           placeholder="Enter POR Trend" required="required" />
                                </td>
                                <td class="comments">
                                    <textarea class="form-control" data-prop="comments" name="comments" placeholder="Enter Comments" cols="3" maxlength="250" required="required"></textarea>
                                </td>
                                <td class="text-center">
                                    <button data-id="new-save" type="button" class="btn btn-success btn-sm add-save-btn" title="Save Schedule">
                                        <i class="fa-solid fa-check"></i>
                                    </button>
                                    <button data-id="new-cancel" type="reset" class="btn btn-danger btn-sm add-cancel-btn" title="Edit Schedule">
                                        <i class="fa-solid fa-xmark"></i>
                                    </button>
                                </td>
                            </tr>
                            {% for i in data %}
                            <tr data-n-id="{{ i.schedule_id }}" data-non-edit="true">
                                <td nowrap class="switch_button">{{ i.display }}</td>
                                <td nowrap class="milestone">{{ i.milestone }}</td>
                                <td nowrap class="status" style="color: {% if i.status.0 == 'Done' %} green; font-weight: 600; {% else %} black; {% endif %}">
                                    {% if i.status.0 == 'Done' %}
                                        &#x2714;
                                    {% else %}
                                        {{ i.status.0 }}
                                    {% endif %}
                                </td>
                                <td nowrap class="por_commit">{{ i.por_commit }}</td>
                                <td nowrap class="por_trend">{{ i.por_trend }}</td>
                                <td nowrap class="comments">{{ i.comments }}</td>
                                <td>
                                    <button data-id="{{ i.schedule_id }}" type="button" class="btn btn-info btn-sm edit-btn" title="Edit Schedule">
                                        <i class="fas fa-edit"></i>
                                    </button>
                                    <button type="button" class="btn btn-danger btn-sm" title="Delete Schedule">
                                        <a style="text-decoration:none;color:#fff;" href="{% url 'delete_schedule_data' pk=i.schedule_id %}" onclick="return confirmDelete()">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </button>
                                </td>
                            </tr>
                            <tr data-e-id="{{ i.schedule_id }}" data-edit="false">
                                <td class="switch_button">
                                    <input class="form-control" type="checkbox" name="switch_button" data-prop="switch_button" value="1" data-toggle="toggle" data-on="On" data-off="Off" data-onstyle="primary" data-offstyle="danger" required="required" {% if i.display == 'On' %} checked {% endif %} />
                                </td>
                                <td class="milestone">
                                    <textarea class="form-control" data-prop="milestone" name="milestone" cols="3" maxlength="250" disabled>{{i.milestone}}</textarea>
                                </td>
                                <td class="status">
                                    <span id="status-symbol"></span>
                                    <select class="form-select" data-prop="status" name="status" required="required" onchange="updateSymbol(this)">
                                        {% for i in i.status %}
                                        {% if i == 'Done' %}
                                        <option value="Done" style="color:green; font-weight: 600;">&#x2714;</option>
                                        {% else %}
                                        <option value="{{i}}">{{i}}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                </td>
                                <td class="por_commit">
                                    <input class="form-control" data-prop="por_commit" id="eta" name="por_commit" type="text"
                                           required="required" value="{{ i.por_commit }}" />
                                </td>
                                <td class="por_trend">
                                    <input class="form-control" data-prop="por_trend" name="por_trend" type="text"
                                           required="required" value="{{ i.por_trend }}" />
                                </td>
                                <td class="comments">
                                    <textarea class="form-control" data-prop="comments" name="comments" cols="3" maxlength="250" required="required">{{i.comments}}</textarea>
                                </td>
                                <div class="text-center">
                                    <td>
                                        <button data-id="{{ i.schedule_id }}" type="submit" class="btn btn-success btn-sm save-btn" title="Save Schedule">
                                            <i class="fa-solid fa-check"></i>
                                        </button>
                                        <button data-id="{{ i.schedule_id }}" type="reset" class="btn btn-danger btn-sm cancel-btn" title="Cancel Schedule">
                                            <i class="fa-solid fa-xmark"></i>
                                        </button>
                                    </td>
                                </div>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- Include the Quill library -->
<script src="{% static 'intel_app/js/jquery.min.js' %}"></script>
<script src="{% static 'intel_app/js/quill.js' %}"></script>
<script src="{% static 'intel_app/table/popper.min.js' %}"></script>
<script src="{% static 'intel_app/js/bootstrap.min.js' %}"></script>
<script src="{% static 'intel_app/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'intel_app/table/bootstrap-table.min.js' %}"></script>
<script src="{% static 'intel_app/table/bootstrap-table.js' %}"></script>
<script src="{% static 'intel_app/table/tableExport.min.js' %}"></script>
<script src="{% static 'intel_app/table/bootstrap-table-export.min.js' %}"></script>
<script src="{% static 'intel_app/js/tail.select-full.min.js' %}"></script>
<script src="{% static 'intel_app/js/bootstrap-toggle.min.js' %}"></script>

<script>
    function nameFormatter(value, row) {
      var icon = row.status === 'R'  ? 'fa-circle fa-sm text-danger' :
      row.status === 'G'  ? 'fa-circle fa-sm text-success' :
      row.status === 'Y'  ? 'fa-circle fa-sm text-warning' :
      row.status === 'B'  ? 'fa-circle fa-sm text-primary' : 'none'
      return '<i class="fa ' + icon + '"></i> ' + value
    }

</script>
<script>
    $('#example').bootstrapTable({
        exportOptions: {
            fileName: 'Schedule'
        },
        exportTypes: ['excel'],
    });
    $(document).ready(function() {
        $('.edit-btn').on('click', function () {
            let objectId = $(this).data('id');
            const non_Edit = $('tr[data-n-id="' + objectId + '"]').attr('data-non-edit');
            const edit = $('tr[data-e-id="' + objectId + '"]').attr('data-edit');
            $('tr[data-n-id="' + objectId + '"]').attr('data-non-edit', (non_Edit === 'true' ? false : true));
            $('tr[data-e-id="' + objectId + '"]').attr('data-edit', (edit === 'true' ? false : true));
        });

        $('.cancel-btn').on('click', function () {
            let objectId = $(this).data('id');
            const non_Edit = $('tr[data-n-id="' + objectId + '"]').attr('data-non-edit');
            const edit = $('tr[data-e-id="' + objectId + '"]').attr('data-edit');
            $('tr[data-n-id="' + objectId + '"]').attr('data-non-edit', (non_Edit === 'true' ? false : true));
            $('tr[data-e-id="' + objectId + '"]').attr('data-edit', (edit === 'true' ? false : true));
        });

        $('.save-btn').on('click', function () {
            let objectId = $(this).data('id');
            const schedule = {
               switch_button: $('tr[data-e-id="' + objectId + '"] input[data-prop="switch_button"]').prop("checked") ? "On" : "Off",
               milestone : $('tr[data-e-id="' + objectId + '"] textarea[data-prop="milestone"]')[0].value,
               status : $('tr[data-e-id="' + objectId + '"] select[data-prop="status"]')[0].value,
               por_commit : $('tr[data-e-id="' + objectId + '"] input[data-prop="por_commit"]')[0].value,
               por_trend : $('tr[data-e-id="' + objectId + '"] input[data-prop="por_trend"]')[0].value,
               comments : $('tr[data-e-id="' + objectId + '"] textarea[data-prop="comments"]')[0].value,
            }
            $.ajax(
                    {
                        type:"POST",
                        url: "/schedule_edit_table/"+objectId,
                        data:schedule,
                        success: function( data )
                        {
                        window.location.reload()

                        }
                     })
        });

        $('.add-btn').on('click', function () {
           $('tr[data-a-id="new"]').attr('data-add', true);
        });

         $('.add-save-btn').on('click', function () {

            let objectId = "new";
            const schedule = {
               switch_button: $('tr[data-a-id="' + objectId + '"] input[data-prop="switch_button"]').prop("checked") ? "On" : "Off",
               milestone : $('tr[data-a-id="' + objectId + '"] textarea[data-prop="milestone"]')[0].value,
               status : $('tr[data-a-id="' + objectId + '"] select[data-prop="status"]')[0].value,
               por_commit : $('tr[data-a-id="' + objectId + '"] input[data-prop="por_commit"]')[0].value,
               por_trend : $('tr[data-a-id="' + objectId + '"] input[data-prop="por_trend"]')[0].value,
               comments : $('tr[data-a-id="' + objectId + '"] textarea[data-prop="comments"]')[0].value,
            }
                $.ajax({
                    type: "POST",
                    url: "/schedule/",
                    data: schedule,
                    success: function(data) {
                        window.location.reload()
                    }
                })
            });

         $('.add-cancel-btn').click(function () {
            $('tr[data-a-id="new"]').attr('data-add', false);
        });
    });
</script>
<script>
    function confirmDelete() {
    if (confirm("Delete Record?") == true) {
        return true;
    } else {
        return false;
    }
}
</script>
<script>
    $('#projectdata').change(function(event){
        var selectedcategory = $(this).children("option:selected").val();
        sessionStorage.setItem("itemName",selectedcategory);
    });

    $('select').find('option[value='+sessionStorage.getItem('itemName')+']').attr('selected','selected');
</script>
<script>
    tail.select("#projectdata", {
    animate: true,
    deselect: false,
    disabled: false,
    height: 350,
    multiple: false,
    placeholder: "Projects",
    search: false,
    width: 170
});
</script>
<script>
    function updateSymbol(select) {
        var symbolElement = document.getElementById('status-symbol');
        var selectedValue = select.value;
        symbolElement.innerHTML = selectedValue === '&#x2714;' ? '&#x2714;' : '';
    }
</script>
</body>
</head>
</html>