<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <link rel="shortcut icon" href="{% static 'intel_app/img/intel.ico' %}"/>
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'intel_app/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'intel_app/css/style.css' %}" rel="stylesheet"/>
    <link href="{% static 'intel_app/css/bootstrap-select.min.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'intel_app/css/sweetalert.css' %}">

</head>
<body style="background-color:#ffffff!important;">

<!-- Example Code -->
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand">
            <span>Intel</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-md-auto gap-2">
                <li class="nav-item rounded">
                    <a class="nav-link ho" href="{% url 'home' %}">
                        <i class="fa fa-home"></i>
                        <span>Home</span>
                    </a>
                </li>
                <li class="nav-item dropdown rounded">
                    <a class="nav-link ho dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-user"></i>
                        <span>{{request.user.username}}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
        <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
            <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                <span class="fs-5 d-none d-sm-inline">Menu</span>
            </a>
            <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                <li class="nav-item active">
                    <a href="{% url 'user_create' %}" class="nav-link align-middle px-0">
                        <span class="ms-1 d-none d-sm-inline">Create User</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'user_list' %}" class="nav-link align-middle px-0">
                        <span class="ms-1 d-none d-sm-inline">Users</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'project' %}" class="nav-link align-middle px-0">
                        <span class="ms-1 d-none d-sm-inline">Create Projects</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'project_list' %}" class="nav-link align-middle px-0">
                        <span class="ms-1 d-none d-sm-inline">Projects</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col py-3">
        <div class="card">
            <div class="card-header">
                <b>Create User</b>
            </div>
            <div class="card-body">
                <form action="" method="post" name="signupForm" id="signupForm">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="form-label">Username </label>
                                <input class="form-control" type="text" name="username" id="username" placeholder="Enter Username" required>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="form-label" for="project">Project</label>
                                <select class="selectpicker" multiple="multiple" name="project_name" id="project" data-live-search="true">
                                    {% if projects %}
                                    <option value="" selected disabled>Select Project</option>
                                    {% for i in projects %}
                                    <option value="{{i}}">{{i}}</option>
                                    {% endfor %}
                                    {% endif %}

                                </select>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="form-label">Status</label>
                                <input type="radio" value="True" name="status" id="r1">
                                <label for="r1">True</label>
                                <input type="radio" value="False" name="status" id="r2">
                                <label for="r2">False</label>
                            </div>
                        </div>
                    </div>
                    <br>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="form-label" for="password">New Password</label>
                                <div class="input-group">
                                    <input class="form-control" id="password" name="password" type="password" placeholder="Enter Password" required="required" />
                                    <button class="btn btn-outline-secondary" type="button" id="togglePassword">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="form-label" for="confirmPassword">Confirm Password</label>
                                <div class="input-group">
                                    <input class="form-control" id="confirmPassword" name="confirmPassword" type="password" placeholder="Enter Password" required="required" />
                                    <button class="btn btn-outline-secondary" type="button" id="toggleConfirmPassword">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>

                    <br>
                    <p>{{error}}</p>
                    <button type="submit" id="submitButton" onclick="validateSignupForm()" class="submitButton btn btn-primary pure-button pure-button-primary">
                        <span>Continue</span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>

<!-- Include the Quill library -->
<script src="{% static 'intel_app/js/jquery.min.js' %}"></script>
<script src="{% static 'intel_app/js/bootstrap.min.js' %}"></script>
<script src="{% static 'intel_app/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'intel_app/js/bootstrap-select.min.js' %}"></script>
<script src="{% static 'intel_app/js/sweetalert-dev.js' %}"></script>

{% if messages %}
<script>
    swal({
      title: "Alert!",
      text: "{{messages}}",
      showConfirmButton: true
    }, function(){
          window.location.href = "{% url 'user_list' %}";
    });
</script>
{% endif %}

<script>
    $(function () {
    $('select').selectpicker();
});
</script>
<script>
    document.getElementById("togglePassword").addEventListener("click", function() {
        var passwordInput = document.getElementById("password");
        var icon = document.querySelector("#togglePassword i");

        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            icon.classList.remove("fa-eye");
            icon.classList.add("fa-eye-slash");
        } else {
            passwordInput.type = "password";
            icon.classList.remove("fa-eye-slash");
            icon.classList.add("fa-eye");
        }
    });

    document.getElementById("toggleConfirmPassword").addEventListener("click", function() {
        var confirmPasswordInput = document.getElementById("confirmPassword");
        var icon = document.querySelector("#toggleConfirmPassword i");

        if (confirmPasswordInput.type === "password") {
            confirmPasswordInput.type = "text";
            icon.classList.remove("fa-eye");
            icon.classList.add("fa-eye-slash");
        } else {
            confirmPasswordInput.type = "password";
            icon.classList.remove("fa-eye-slash");
            icon.classList.add("fa-eye");
        }
    });
</script>

</body>
</html>